<div class="card card-flush py-4">
  <div class="card-header">
    <div class="card-title">
      <h3>Add To Home</h3>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="row row-cols-12" data-kt-buttons="true" data-kt-buttons-target="[data-kt-button='true']">
      <div class="col d-flex text-start">
        <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start" data-kt-button="true">
          <input class="form-check-input" type="radio" name="in_home" id="false" value="false" checked="checked"/></span>
        <span class="ms-5">
          <label class="form-label" for="false">No</label></span></div>
      <div class="col d-flex text-start">
        <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start" data-kt-button="true">
          <input class="form-check-input" type="radio" id="true" name="in_home" value="true"/></span>
        <span class="ms-5">
          <label class="form-label" for="true">Yes</label></span></div>
    </div>
    <div class="text-muted fs-7">Add to the home page API</div>
  </div>
</div>