<div class="card card-flush py-4">
  <div class="card-header">
    <div class="card-title">
      <h3>Attach Content Type</h3>
    </div>
  </div>
  <div class="card-body pt-0 text-center">
    <a class="btn btn-primary btn-sm" href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Attach</a>
  </div>
</div>