<div class="card card-flush py-4">
  <div class="card-header">
    <div class="card-title">
      <h3>Slug (URL)</h3>
    </div>
  </div>
  <div class="card-body pt-0">
    <input type="text" class="form-control" placeholder="Enter URL" name="slug" value="{{ contentDetail.slug if contentDetail }}">
    <div class="fv-plugins-message-container invalid-feedback" id="field-error-slug"></div>
    <div class="text-muted fs-7">Set the content url</div>
  </div>
</div>