<div class="card card-flush py-4">
    <div class="card-header">
        <div class="card-title">
            <h3>Status<span class="required"></span></h3>
        </div>
    </div>
    <div class="card-body pt-0">
        <select id="content-status-select" class="form-select mb-2" name="status">
            <option> - Select - </option>
            <option value="unpublished" {{'selected' if contentDetail.status == 'unpublished'}}>Unpublished</option>
            <option value="published" {{'selected' if contentDetail.status == 'published'}}>Published</option>
            <option value="scheduled" {{'selected' if contentDetail.status == 'scheduled'}}>Scheduled</option>
        </select>
        <p class="text-muted fs-7">Set the status</p>
        <div class="fv-plugins-message-container invalid-feedback" id="field-error-status"></div>

        <div class="row {{'d-none' if contentDetail.status != 'scheduled'}}" id="cms-schedule-dt-range">
            <p class="text-muted fs-7">
                Available Between
                <a class="badge badge-light-danger float-right" id="cms_publish_dt_clear_btn" href="#">Clear</a>
            </p>
            <div class="col-12 my-1">
                <input class="form-control cms_publish_dt_fields" type="text" id="cms_publish_start_dt" name="cms_publish_start" value="{{contentDetail.scheduled_start}}" autocomplete="off">
            </div>
            <div class="col-12">
                <input class="form-control cms_publish_dt_fields" type="text" id="cms_publish_end_dt" name="cms_publish_end" value="{{contentDetail.scheduled_end}}" autocomplete="off">
            </div>
        </div>
    </div>
</div>