<html>
	<head>

		<base href="/">
		<title>CMS | Landmark Leisure </title>
		<meta charset="utf-8">
		<meta name="description" content="The most advanced Bootstrap Admin Theme on Themeforest trusted by 100,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue &amp; Laravel versions. Grab your copy now and get life-time updates for free.">
		<meta name="keywords" content="Metronic, bootstrap, bootstrap 5, Angular, VueJs, React, Laravel, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href=`#`>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
		block csslib
		<link href="/cms-static/admin/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css">
		<link href="/cms-static/admin/assets/css/style.bundle.css" rel="stylesheet" type="text/css">
		<link href="/cms-static/admin/assets/css/style.css" rel="stylesheet" type="text/css">
		//- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
	</head>

	//- body#kt_app_body.app-default(data-kt-name="metronic" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true")
	<body id="kt_app_body" class="app-default" data-kt-name="metronic" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true">
		<script type="text/javascript">
			//- if (document.documentElement) { 
			//- 	const defaultThemeMode = "light"; 
			//- 	const name = document.body.getAttribute("data-kt-name"); 
			//- 	let themeMode = localStorage.getItem("kt_" + ( name !== null ? name + "_" : "" ) + "theme_mode_value"); 
			//- 	if ( themeMode === null ) { 
			//- 		if ( defaultThemeMode === "system" ) { 
			//- 			themeMode = window.matchMedia("(prefers-color-scheme: light)").matches ? "dark" : "light"; 
			//- 		} 
			//- 		else { 
			//- 			themeMode = defaultThemeMode; 
			//- 		} 
			//- 	} 
			//- 	document.documentElement.setAttribute("data-theme", themeMode); 
			//- }
		</script>
		//- #kt_app_root.d-flex.flex-column.flex-root.app-root
		<div id="kt_app_root" class="flex flex-column flex-root app-root">
			<div class="app-page flex-column flex-column-fluid hidden" id="kt_app_page">
				<div id="kt_app_header" class="app-header">
					<div class="app-container container-fluid d-flex align-items-stretch justify-content-between">
						<div class="d-flex align-items-center d-lg-none ms-n2 me-2" title="Show sidebar menu">
						<div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_sidebar_mobile_toggle"><span class="svg-icon svg-icon-1">
							<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor"></path>
								<path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor"></path>
							</svg></span></div>
						</div>
						<div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0"><a class="d-lg-none" href="/admin/dashboard"><img class="h-30px" alt="Logo aa" src=`#`></a></div>

						<div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
							//- BEGIN:: Top Navigation
							include ../partials/_top-nav
							//- END:: Top Navigation
						</div>


						<div class="app-navbar flex-shrink-0">
							<div class="app-navbar-item align-items-stretch ms-1 ms-lg-3 me-10">

								//- BEGIN:: Top Search Toggle
								//- include ../partials/_selected-brand
								//- END:: Top Search Toggle
							</div>

							<div class="app-navbar-item align-items-stretch ms-1 ms-lg-3">
								<div class="app-navbar-item ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
									<div class="cursor-pointer symbol symbol-35px symbol-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end"><img src="/cms-static/admin/assets/media/avatars/blank.png" alt="user"></div>
									<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
										<div class="menu-item px-3">
											<div class="menu-content d-flex align-items-center px-3">
												<div class="symbol symbol-50px me-5">
													<img alt="Logo" src="/cms-static/admin/assets/media/avatars/blank.png">
												</div>
												<div class="d-flex flex-column">
													<div class="fw-bold d-flex align-items-center fs-5">#{authUser.admin_name}<span class="badge badge-success ms-2">#{authUser.admin_role}</span>
													</div>
												</div>
											</div>
										</div>
										<div class="separator my-2"></div>
										<div class="menu-item px-5"><a class="menu-link px-5" href="/admin/user">My Profile</a></div>
										<div class="menu-item px-5"><a class="menu-link px-5" href="/admin/auth/logout">Sign Out</a></div>
									</div>
									</div>
									<div class="app-navbar-item d-lg-none ms-2 me-n3" title="Show header menu">
									<div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_header_menu_toggle"><span class="svg-icon svg-icon-1">
										<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M13 11H3C2.4 11 2 10.6 2 10V9C2 8.4 2.4 8 3 8H13C13.6 8 14 8.4 14 9V10C14 10.6 13.6 11 13 11ZM22 5V4C22 3.4 21.6 3 21 3H3C2.4 3 2 3.4 2 4V5C2 5.6 2.4 6 3 6H21C21.6 6 22 5.6 22 5Z" fill="currentColor"></path>
											<path opacity="0.3" d="M21 16H3C2.4 16 2 15.6 2 15V14C2 13.4 2.4 13 3 13H21C21.6 13 22 13.4 22 14V15C22 15.6 21.6 16 21 16ZM14 20V19C14 18.4 13.6 18 13 18H3C2.4 18 2 18.4 2 19V20C2 20.6 2.4 21 3 21H13C13.6 21 14 20.6 14 20Z" fill="currentColor"></path>
										</svg></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="flex flex-1 flex-row flex-row-fluid" id="kt_app_wrapper">
				<div class="flex flex-column w-[230px] bg-slate-700 overflow-hidden h-screen relative pb-20">
					//- BEGIN:: Main Navigation
					include ../partials/_side-nav
					//- END:: Main Navigation
				</div>



				<div class="app-main flex-column flex-row-fluid" id="kt_app_main">

					//- BEGIN::LOADING MAIN PAGE CONTENT PART
					block content
					//- END::LOADING MAIN PAGE CONTENT PART


					<div class="app-footer" id="kt_app_footer">
						<div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
							<div class="text-dark order-2 order-md-1"><span class="text-muted fw-semibold me-1">2023&copy;</span></div>
						</div>
					</div>
				</div>

				<div class="scrolltop" id="kt_scrolltop" data-kt-scrolltop="true"><span class="svg-icon">
					<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor"></rect>
					<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor"></path>
					</svg></span>
				</div>

				block widgets
			</div>
		</div>

		script.
			var hostUrl = "assets/";
		script(src='/cms-static/admin/assets/plugins/global/plugins.bundle.js')
		script(src='/cms-static/admin/assets/js/scripts.bundle.js')
		script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')

		block jslib
		block customScript
	</body>
</html>