// /* Customize the general editor background */
// #gjs {
//     background-color: #2e2e2e; /* Dark background like VSCode */
//     color: #f5f5f5; /* Light text */
// }

// /* Customize the style of the panels (e.g., the left and right panels) */
// #gjs .gjs-pn-panels {
//     background-color: #fff; /* Darker panel background */
// }

// /* Customize buttons in the panels */
// #gjs .gjs-pn-btn {
//     background-color: #333; /* Button background */
//     color: #fff; /* Button text color */
//     border: 1px solid #444; /* Button border */
// }

// #gjs .gjs-pn-btn:hover {
//     background-color: #555; /* Button background on hover */
// }

// /* Customize the block manager (left panel) */
// #gjs .gjs-block {
//     background-color: #2c2c2c;
//     border: 1px solid #444;
//     color: #fff;
// }

// /* Customize the canvas (where components are rendered) */
// #gjs .gjs-cv-canvas {
//     background-color: #1e1e1e; /* Dark canvas background */
// }

// /* Customize selected component border */
// .gjs-selected {
//     outline: 2px dashed #007acc; /* VSCode-style border for selected components */
// }

// /* Customize the toolbar buttons */
// .gjs-toolbar {
//     background-color: #333; /* Darker toolbar */
//     border-color: #444;
// }

// /* Customize modal background and color */
// .gjs-mdl-dialog {
//     background-color: #1e1e1e;
//     color: #fff;
// }

// /* Customize the property panels (style manager) */
// .gjs-sm-header {
//     background-color: #333;
//     color: #fff;
// }

#beave_app_content_container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#gjs {
    width: auto;
    height: 100vh;
}

/* Reduce the size of the Rows and Columns icons */
.gjs-block {
    width: 32%;
    height: auto;
    min-height: auto;
    margin: 10px 0.5% 5px;
}

/* 
.panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
}
.panel__basic-actions {
    position: initial;
} */
