{% extends "../layouts/master.njk" %} 
{% block csslib %}
<link href="/cms-static/admin/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet"
	type="text/css" />
<link href="/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet"
	type="text/css" />
<link href="/cms-static/admin/article-editor/css/article-editor.min.css" rel="stylesheet" type="text/css" />
<link href="/cms-static/admin/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="/cms-static/admin/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
{% endblock %} 
{% block jslib %} 
{% endblock %}
{% block customScript %}
{% endblock %} 
{% block content %}
<div class="d-flex flex-column flex-column-fluid">
	<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
		<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
			<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
				<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
					View Submission | {{ customForm.form_name.en }}
				</h1>
				<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
					<li class="breadcrumb-item text-muted">
						<a href="/admin/custom-forms" class="text-muted text-hover-primary">Form</a>
					</li>
					<li class="breadcrumb-item">
						<span class="bullet bg-gray-400 w-5px h-2px"></span>
					</li>
					<li class="breadcrumb-item text-muted">View Submission</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="kt_app_content" class="app-content flex-column-fluid">
		<div id="kt_app_content_container" class="app-container container-xxl">
			<div class="d-flex flex-column flex-lg-row">
				<div class="flex-lg-row-fluid me-lg-15 order-2 order-lg-1 mb-10 mb-lg-0">
					<div class="card card-flush pt-3 mb-5 mb-lg-10">
						<div class="card-header">
							<div class="card-title">
								<h2 class="fw-bold">
									Form Submission for
									{{ customForm.form_name.en }}
								</h2>
							</div>
						</div>
						<div class="card-body pt-0" id="form-holder">
							{% for item in fieldValues %}
								<span>{{ item.name }}: {{ item.value }}</span> </br>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}