{% extends "../../../layouts/master.njk" %}

{% block csslib %}
	<link href='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.css' rel='stylesheet' type='text/css'/>
	<link href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" rel="stylesheet">
	<!-- Include the CodeMirror library from the CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css"/>
	<link href="/cms-static/common/css/grapejs-style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/material.min.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify-css.min.js"></script>

	<style>
		/* Style the modal content */
		.gjs-mdl-dialog {
			background-color: #f9f9f9;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		}

		/* Style CodeMirror editors */
		.CodeMirror {
			border: 1px solid #ccc;
			border-radius: 5px;
			height: 300px;
			margin-right: 10px;
			/* For spacing between HTML and CSS editors */
		}

		/* Style Save button */
		.modal-save-btn {
			padding: 10px 20px;
			background-color: #28a745;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		.modal-save-btn:hover {
			background-color: #218838;
		}
	</style>
{% endblock %}

{% block jslib %}
	{# // begin::Vendors Javascript(used by this page) #}
	<script src='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.js'></script>
	<script src="https://unpkg.com/grapesjs"></script>
	<script src="https://unpkg.com/grapesjs-preset-webpage"></script>
	<script src="https://unpkg.com/grapesjs-preset-newsletter"></script>
	<!-- Include the CodeMirror library from the CDN -->
	<!-- Include the CodeManager plugin from the CDN -->
	<script src="https://unpkg.com/grapesjs-codemanager"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/xml/xml.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/css/css.min.js"></script>

	{# // Form Submission Script #}
	{# <script src='/cms-static/common/js/form-data-json.min.js'></script> #}
	{# <script src='/cms-static/common/js/es-form.js'></script> #}
	<script>
		// Add a hidden input field to the component
		var pageId = '{{page_id}}';
		var content_type_slug = '{{reqContentType.slug}}';
	</script>
	<script src='/cms-static/common/js/grapejs-editor.js'></script>

{% endblock %}

{% block customScript %}{% endblock %}

{% block content %}
	<div class="d-flex flex-column flex-column-fluid">
		<div id="kt_app_content" class="app-content flex-column-fluid p-0 m-0">
			<div id="kt_app_content_container" class="app-container container p-0 m-0" style="max-width: 100vw;">
				<div class="panel__top">
					<div class="panel__basic-actions"></div>
				</div>
				<div id="gjs" class="p-0 m-0">
					{# Data Will Load Here #}
				</div>
				<div id="blocks"></div>
			</div>
		</div>
	</div>

{% endblock %}