{% extends "../../../layouts/master.njk" %}

{% block csslib %}
	<link href='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.css' rel='stylesheet' type='text/css'/>
	<link href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" rel="stylesheet">
	<!-- Include the CodeMirror library from the CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css" />
	<link href="/cms-static/common/css/grapejs-style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/material.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.0/beautify-css.min.js"></script>
	<link href="/cms-static/admin/assets/css/custom/grapejs.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block pageSpecificStyle %}
	<style>
		#beave_app_root #beave_app_wrapper #beave_app_main {
			margin-top: 0;
		}
		#beave_app_root #beave_app_page #beave_app_header {
			display: none;
		}
	</style>
{% endblock %}

{% block jslib %}
	{# // begin::Vendors Javascript(used by this page) #}
	<script src='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.js'></script>
	<script src="https://unpkg.com/grapesjs"></script>
	<script src="https://unpkg.com/grapesjs-preset-webpage"></script>
	<script src="https://unpkg.com/grapesjs-preset-newsletter"></script>
	<!-- Include the CodeMirror library from the CDN -->
	<!-- Include the CodeManager plugin from the CDN -->
	<script src="https://unpkg.com/grapesjs-codemanager"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/xml/xml.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/css/css.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/xml/xml.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/css/css.min.js"></script>

	{# // Form Submission Script #}
	{# <script src='/cms-static/common/js/form-data-json.min.js'></script> #}
	{# <script src='/cms-static/common/js/es-form.js'></script> #}
	<script>
		// Add a hidden input field to the component
		var pageId = '{{page_id}}';
		var content_type_slug = '{{reqContentType.slug}}';
		var lang = '{{lang}}';
	</script>
	<script src='/cms-static/common/js/grapejs-editor.js'></script>

{% endblock %}

{% block customScript %}{% endblock %}

{% block content %}
	<div class="d-flex flex-column flex-column-fluid">
		<div id="beave_app_content" class="app-content flex-column-fluid p-0 m-0">
			<div id="beave_app_content_container" class="app-container container p-0 m-0" style="max-width: 100vw;">
				<div class="panel__top">
					<div class="panel__basic-actions"></div>
				</div>
				<div id="gjs" class="p-0 m-0">
					{# Data Will Load Here #}
				</div>
				<div id="blocks"></div>
			</div>
		</div>
	</div>

{% endblock %}