<form class="form" action="#" method="post">
	<div class="fv-row" id="dropzoneContainer">
		<div id="beaver_dropzonejs_example_1" data-upload-pdf="{{hasPdfUpload}}" class="dropzone">
			<div class="dz-message needsclick">
				<i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
				<div class="ms-4">
					<h3 class="fs-5 fw-bold text-gray-900 mb-1">Drop files here or click to upload.</h3>
					<span class="fs-7 fw-semibold text-gray-400">Upload up to 10 files</span>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- Hidden by default, shown only when Cropper is visible -->
<div id="aspect-ratio-buttons" class="text-center" style="display: none;">
	<button class="aspect-ratio-btn btn btn-sm btn-primary mx-1 my-2" data-ratio="4/3">4:3</button>
	<button class="aspect-ratio-btn btn btn-sm btn-primary mx-1 my-2" data-ratio="16/9">16:9</button>
	<button class="aspect-ratio-btn btn btn-sm btn-primary mx-1 my-2" data-ratio="1/1">1:1</button>
	<button class="aspect-ratio-btn btn btn-sm btn-primary mx-1 my-2" data-ratio="NaN">Free</button>
</div>
<!-- Cropper Container (Initially Hidden) -->
<div id="cropperContainer" style="display: none; text-align: center;">
	<img id="cropImage" class="my-3" style="max-width: 100%;">
	<button id="cancelButton" class="btn btn-sm mx-1 btn-danger">Cancel</button>
	<button class="btn btn-sm btn-success mx-1 my-2" id="cropButton">Crop & Upload</button>
</div>