{% if authUser.brand %}
  <div id="kt_header" class="d-flex align-items-stretch" data-kt-menu-trigger="auto" data-kt-menu-overflow="false" data-kt-menu-permanent="true" data-kt-menu-placement="bottom-end">
    <div id="kt_header_toggle" class="d-flex align-items-center" data-kt-search-element="toggle">
      <button class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary">
        <span class="svg-icon svg-icon-1">{{ authUser.brand.name.en }} | {{ authUser.brand.country_name }}</span>
      </button>
    </div>
  </div>
{% endif %}