{% if authUser.brand %}
  <div id="beaver_header" class="d-flex align-items-stretch" data-beaver-menu-trigger="auto" data-beaver-menu-overflow="false" data-beaver-menu-permanent="true" data-beaver-menu-placement="bottom-end">
    <div id="beaver_header_toggle" class="d-flex align-items-center" data-beaver-search-element="toggle">
      <button class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-100">
        <span class="svg-icon svg-icon-1">{{ authUser.brand.name.en }} | {{ authUser.brand.country_code | upper }}</span>
      </button>
    </div>
  </div>
{% endif %}