{% extends "../../layouts/master.njk" %}

{% block csslib %}
	<link href='/cms-static/admin/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' rel='stylesheet' type='text/css'/>
	{# //- link(href='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.css' rel='stylesheet' type='text/css') #}
	<link href='/cms-static/admin/assets/plugins/global/plugins.bundle.css' rel='stylesheet' type='text/css'/>
	<link href='/cms-static/admin/assets/css/style.bundle.css' rel='stylesheet' type='text/css'/>

	<style>
		a.image-preview-remove-btn {
			display: inline-block;
			cursor: pointer;
		}
		a.image-preview-remove-btn i {
			pointer-events: none;
		}
	</style>

{% endblock %}

{% block jslib %}
	{# // begin::Vendors Javascript(used by this page) #}
	{# //- script(src='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.js') #}
	{# // end::Vendors Javascript #}
	{# // begin::Custom Javascript(used by this page) #}
	{# //- script(src='/cms-static/admin/assets/js/widgets.bundle.js') #}
	{# //- script(src='/cms-static/admin/assets/js/custom/widgets.js') #}
	<script src='/cms-static/admin/assets/js/custom/utilities/modals/new-card.js'></script>
	{# //- script(src='/cms-static/admin/assets/js/custom/utilities/modals/users-search.js') #}
	{# //- script(src='/cms-static/admin/assets/plugins/custom/formrepeater/formrepeater.bundle.js') #}
	{# // end::Custom Javascript #}

	{# // CKEditor Build Bundles #}
	<script src='/cms-static/admin/assets/plugins/custom/ckeditor/ckeditor-classic.bundle.js'></script>

	<script src='/cms-static/admin/assets/js/scripts.bundle.js'></script>

	{# // Form Submission Script #}
	<script src='/cms-static/common/js/form-data-json.min.js'></script>
	<script src='/cms-static/common/js/es-form.js'></script>
{% endblock %}

{% block customScript %}
	<script>
		document
			.querySelectorAll('.content_wysiwyg')
			.forEach(function (e) {
				//- console.log(e.getAttribute('id'))
				ClassicEditor
					.create(document.querySelector(`#${e.getAttribute('id')}`))
					.then(editor => {})
					.catch(error => {
						console.error(error);
					});
			})

		document
			.querySelectorAll('.kt_daterangepicker input')
			.forEach((picker) => {
				$(`#${picker.id}`).flatpickr({
					altInput: !0,
					altFormat: 'd F, Y',
					dateFormat: 'Y-m-dTH:i:00.000\\Z'
				})
			})

		var childIndex = 0
		function cloneChild(event) {
			childIndex++
			let targetElement = event.target
			let parentId = targetElement.getAttribute('target-id')
			let parentLang = targetElement.getAttribute('target-lang')
			let langPrefix = targetElement.getAttribute('target-lang-prefix')
			let p = document.querySelector(`.form-repeater-group-${parentLang}-${langPrefix}`)
			let p_prime = p.cloneNode(true)
			let newElement = document
				.getElementById(`${parentId}`)
				.appendChild(p_prime)
			newElement.setAttribute("id", `form_repeater_child_${parentLang}-${childIndex * 10000}`) //setting ID for newly created card
			document
				.querySelectorAll(`#form_repeater_child_${parentLang}-${childIndex * 10000} .form-control`)
				.forEach(function (element) {
					element.value = null
				})
			//- console.log(`#${newElement.getAttribute('id')}`)
			newMediaButtonId = `beave-media-field-${Math.floor(Math.random() * 1000000000)}`
			document
				.querySelector(`#${newElement.getAttribute('id')}`)
				.querySelector('.media-uploader-modal-btn')
				.setAttribute('id', newMediaButtonId)
		}

		function deleteChild(event) {
			let targetElement = event.target
			let parentDiv = targetElement.parentElement.parentElement.parentElement
			let childDiv = targetElement.parentElement.parentElement
			let parentId = parentDiv.getAttribute('id')
			let childId = childDiv.getAttribute('id')
			if (Number(
				childId.split('-')
				?.[1]) > 1000) {
				const parentElement = document.getElementById(parentId)
				const childElement = document.getElementById(childId)
				parentElement.removeChild(childElement)
			}
		}
	</script>

{% endblock %}

{% block content %}
	<div class="d-flex flex-column flex-column-fluid">
		<div class="app-toolbar py-3 py-lg-6" id="kt_app_toolbar">
			<div class="app-container container-xxl d-flex flex-stack" id="kt_app_toolbar_container">
				<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
					<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">{{'Edit' if contentDetail._id else 'Add'}}
						{{reqContentType.title}}</h1>
					<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
						<li class="breadcrumb-item text-muted">
							<a class="text-muted text-hover-primary" href="/admin/cms/{{reqContentType.slug}}">{{reqContentType.title}}</a>
						</li>
						<li class="breadcrumb-item">
							<span class="bullet bg-gray-400 w-5px h-2px"></span></li>
						<li class="breadcrumb-item text-muted">{{'Edit' if contentDetail._id else 'Add New'}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="kt_app_content" class="app-content flex-column-fluid">
			<div class="app-container container-xxl" id="kt_app_content_container">
				<form class="form es-form d-flex flex-column flex-lg-row" id="kt_subscriptions_create_new" action="/admin/cms/{{reqContentType.slug}}/save" data-kt-redirect-url="/admin/cms/{{reqContentType.slug}}" enctype="multipart/form-data" method="post">
					<input type="hidden" name="_id" value="{{ contentDetail._id }}">
					<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
						<div class="card card-flush py-4">
							<div class="card-header">
								<div class="card-title">
									<h2 class="fw-bold">{{ reqContentType.title }}</h2>
								</div>
								<div class="card-toolbar">
									<button class="btn btn-sm btn-success form-submit-btn" type="submit">
										<span class="label">Save</span>
										<span class="preloader d-none">Saving...</span>
									</button>
								</div>
							</div>
							<div class="card-body pt-0">
								<ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
									{% for brandLanguage in authUser.brand.languages %}
										<li class="nav-item">
											<a class="nav-link {{'active' if loop.index == 1 }}" data-bs-toggle="tab" href="#kt_tab_pane_{{ brandLanguage.prefix }}">{{ brandLanguage.name }}</a>
										</li>
									{% endfor %}
									{% if has_common_field_groups %}
										<li class="nav-item">
											<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_common">General</a>
										</li>
									{% endif %}
									{% if reqContentType.has_meta %}
										<li class="nav-item">
											<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_meta">Meta</a>
										</li>
									{% endif %}
								</ul>
								<div class="tab-content tab-content-fields" id="myTabContent">
									{% for brandLanguage in authUser.brand.languages %}
										<div class="tab-pane fade {{ 'active show' if loop.index == 1 }}" role="tabpanel" die="{{brandLanguage.dir}}" id="kt_tab_pane_{{ brandLanguage.prefix }}">
											{% for cfg in reqContentType.field_groups %}
												{% if cfg.repeater_group == true and cfg.localisation %}
													<div class="border border-gray-200 bg-slate-200 p-4 rounded-lg mb-4">
														<h4 class="badge bg-slate-600 text-white mb-4">{{cfg.row_label}}</h4>
														<div class="group_repeater" id="kt_docs_repeater_{{brandLanguage.prefix}}_{{cfg._id}}_{{loop.index}}">
															{% if contentDetail.content[brandLanguage.prefix][cfg.row_name] %}
																{% set totalItems = contentDetail
																	.content[brandLanguage.prefix][cfg.row_name][ObjectKeys(contentDetail.content[brandLanguage.prefix][cfg.row_name])[0]]
																	.length or 1 %}
															{% else %}
																{% set totalItems = 1 %}
															{% endif %}

															{% for i in range(totalItems) %}
																{% if loop.index == 1%}
																	<div class="row form-repeater-group-{{cfg._id}}-{{brandLanguage.prefix}}" id="form_repeater_child_{{brandLanguage.prefix}}_{{cfg._id}}-{{loop.index}}">
																{%else%}
																	<div class="row form-repeater-group-{{cfg._id}}-{{brandLanguage.prefix}}" id="form_repeater_child_{{brandLanguage.prefix}}_{{cfg._id}}-{{loop.index * 1000}}">
																{%endif%}
																	{% for cf in cfg.fields %}
																		{% if contentDetail.content[brandLanguage.prefix][cfg.row_name][cf.field_name] %}
																			{% set fieldValue = contentDetail.content[brandLanguage.prefix][cfg.row_name][cf.field_name][i] %}
																		{% else %}
																			{% set fieldValue = '' %}
																		{% endif %}
																		<div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
																			<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
																				<span class="required">{{cf.field_label}} ({{brandLanguage.prefix}})</span>
																			</label>
																			{% if cf.field_type === 'text' or cf.field_type === 'email' or cf.field_type === 'number' %}
																				<input class="form-control form-control-solid" type="{{cf.field_type}}" placeholder="Enter {{cf.field_label}}" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}[]]]" value="{{fieldValue}}">
																			{% elif cf.field_type === 'richtext' %}
																				<textarea class="content_wysiwyg" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}[]]]" id="wysiwyg-cf-{{brandLanguage.prefix}}-{{cfg.row_name}}-{{cf.field_name}}-{{i}}">{{fieldValue}}</textarea>
																			{% elif cf.field_type === 'textarea' %}
																				<textarea class="form-control form-control-solid" rows="6" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}[]]]" placeholder="" spellcheck="false">{{fieldValue}}</textarea>
																			{% elif cf.field_type === 'media' %}
																				{# <h1>Test</h1> #}
																				<span class='media-uploader-field'>
																					<span class="media_preview">
																						<span class="preview-holder">
																							{% if fieldValue %}
																								<img src="{{fieldValue}}" style="max-width: 200px;"/>
																							{% endif %}
																						</span>
																						<a class="btn btn-danger image-preview-remove-btn my-1 {{'d-none'  if not fieldValue}}">
																							<i class="fa fa-trash" tabindex="-1"></i>
																						</a>
																					</span>
																					<input type="hidden" class="media_url_field" id="{{cfg.row_name}}_{{cf.field_name}}_{{brandLanguage.prefix}}_{{loop.index}}" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}[]]]">
																					{# <a class="btn btn-success" data-field="{{cfg.row_name}}_{{cf.field_name}}_{{brandLanguage.prefix}}_{{loop.index}}" data-bs-toggle='modal' data-bs-target='#kt_modal_media_list' id="beave-media-field-{{loop.index}}-{{range(100,10000)|random}}">Attach Media</a> #}
																					<a class="btn btn-success media-uploader-modal-btn" id="beave-media-field-{{loop.index}}-{{range(100,10000)|random}}" data-bs-toggle='modal' data-bs-target='#kt_modal_media_list'>Attach Media</a>
																				</span>
																			{% elif cf.field_type === 'date' %}
																				<div class="kt_daterangepicker">
																					<input class="form-control mb-2" id="kt_daterangepicker_{{brandLanguage.prefix}}-{{loop.index}}" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}[]]]" placeholder="{{cf.placeholder}}" value="{{fieldValue}}">
																				</div>
																			{% elif cf.field_type === 'dropdown' %}
																				<select class="form-select" data-control="select2" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}[]]]" data-placeholder="Selectan ptio">
																					<option></option>
																					{% for dropdown, dd_i in cf.options %}
																						<option value="{{dropdown.value}}">{{dropdown.label}}</option>
																					{% endfor %}
																				</select>
																			{% endif %}
																			<div class="fv-plugins-message-container invalid-feedback" id="field-error-{{brandLanguage.prefix}}_{{cfg.row_name}}_{{cf.field_name}}"></div>
																		</div>
																	{% endfor %}
																	<div class="text-center">
																		<a class="btn btn-sm btn-light-danger mt-3 mt-md-8" onClick="deleteChild(event)" child-id="form-repeater-child-{{brandLanguage.prefix}}_{{cfg._id}}-{{loop.index}}" target-id="kt_docs_repeater_{{brandLanguage.prefix}}_{{cfg._id}}_{{loop.index}}">
																			<i class="la la-trash-o"></i>Delete</a>
																	</div>
																</div>
															{% endfor %}
														</div>

														<div class="form-group mt-5 text-center">
															<a class="btn btn-light-primary mb-10" onClick="cloneChild(event)" target-lang="{{cfg._id}}" target-lang-prefix="{{brandLanguage.prefix}}" target-id="kt_docs_repeater_{{brandLanguage.prefix}}_{{cfg._id}}_{{loop.index}}" data-repeater-create="">
																<i class="la la-plus"></i>Add</a>
														</div>
													</div>
												{% else %}
													{% if cfg.localisation %}
														<div class="border border-gray-200 bg-slate-200 p-4 rounded-lg mb-4">
															<h4 class="badge bg-slate-600 text-white mb-4">{{cfg.row_label}}</h4>
															{% for cf in cfg.fields %}
																{% set fieldValue = contentDetail.content[brandLanguage.prefix][cfg.row_name][cf.field_name] %}
																<div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
																	{# // begin::Label #}
																	<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
																		<span class="required">{{cf.field_label}} ({{brandLanguage.prefix}})</span>
																		<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" aria-label="Specify a target name for future usage and reference" data-kt-initialized="1"></i>
																	</label>
																	{# // end::Label #}
																	{% if cf.field_type === 'text' or cf.field_type === 'email' or cf.field_type === 'number' %}
																		<input class="form-control form-control-solid" type="{{cf.field_type}}" placeholder="Enter {{cf.field_label}}" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}]]" value="{{fieldValue}}"/>
																	{% elif cf.field_type === 'richtext' %}
																		<textarea class="content_wysiwyg" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}]]" id="wysiwyg-cf-{{brandLanguage.prefix}}-{{cfg.row_name}}-{{cf.field_name}}">{{fieldValue}}</textarea>
																	{% elif cf.field_type === 'textarea' %}
																		<textarea class="form-control form-control-solid" rows="6" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}]]" placeholder="" spellcheck="false">{{fieldValue}}</textarea>
																	{% elif cf.field_type === 'media' %}
																		<span class='media-uploader-field'>
																			<span class="media_preview">
																				<span class="preview-holder">
																					{% if fieldValue %}
																						<img src="{{fieldValue}}" style="max-width: 200px;"/>
																					{% endif %}
																				</span>
																				<a class="btn btn-danger image-preview-remove-btn my-1 {{'d-none'  if not fieldValue}}">
																					<i class="fa fa-trash" tabindex="-1"></i>
																				</a>
																			</span>
																			<input type="hidden" class="media_url_field" id="{{cfg.row_name}}_{{cf.field_name}}_{{brandLanguage.prefix}}" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}]]" value="{{fieldValue}}">
																			<a class="btn btn-success" data-field="{{cfg.row_name}}_{{cf.field_name}}_{{brandLanguage.prefix}}" id="beave-media-field-{{ loop.index }}-{{ range(100,10000)|random }}" data-bs-toggle='modal' data-bs-target='#kt_modal_media_list'>Attach Media</a>
																		</span>
																	{% elif cf.field_type === 'date' %}
																		.kt_daterangepicker
																			<input class="form-control mb-2" id="kt_daterangepicker_{{brandLanguage.prefix}}-{{loop.index}}" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}]]" placeholder="{{cf.placeholder}}" value="{{fieldValue}}">
																	{% elif cf.field_type === 'dropdown' %}
																		<select class="form-select" data-control="select2" name="{{brandLanguage.prefix}}[{{cfg.row_name}}[{{cf.field_name}}]]" data-placeholder="Select an option">
																			<option></option>
																			{% for dropdown, dd_i in cf.options %}
																				<option value="{{dropdown.value}}">{{dropdown.label}}</option>
																			{% endfor %}
																		</select>
																	{% endif %}
																	<div class="fv-plugins-message-container invalid-feedback" id="field-error-{{brandLanguage.prefix}}_{{cfg.row_name}}_{{cf.field_name}}"></div>
																</div>
															{% endfor %}
														</div>
													{% endif %}
												{% endif %}
											{% endfor %}
										</div>
									{% endfor %}
									
									{% if has_common_field_groups %}
										<div class="tab-pane fade" role="tabpanel" id="kt_tab_pane_common">
											{# //- BEGIN::Custom Fields without localisation #}
											<div class="row mt-5">
												<div class="col-12">
													{% for cfg in reqContentType.field_groups %}
														{% if cfg.localisation == false %}
														<div class="border border-gray-200 bg-slate-200 p-4 rounded-lg mb-4">
															<h4 class="badge bg-slate-600 text-white mb-4">{{cfg.row_label}}</h4>
															{% if cfg.repeater_group == true %}
																{# <h4>{{cfg.row_label}}</h4> #}
																<div class="group_repeater" id="kt_docs_repeater_{{cfg._id}}_{{loop.index}}">
																		{% set totalItems = contentDetail
																			.content['common'][cfg.row_name][ObjectKeys(contentDetail.content['common'][cfg.row_name])[0]]
																			.length or 1 %}
																		{% for i in range(totalItems) %}
																			{% if loop.index == 1%}
																				<div class="form-group row form-repeater-group-{{cfg._id}}-en" id="form_repeater_child_{{cfg._id}}-{{loop.index}}">
																			{%else%}
																				<div class="form-group row form-repeater-group-{{cfg._id}}-en" id="form_repeater_child_{{cfg._id}}-{{loop.index * 1000}}">
																			{%endif%}
																				{% for cf in cfg.fields %}
																					{% set fieldValue = contentDetail.content['common'][cfg.row_name][cf.field_name][i] %}
																					{# <h1>{{fieldValue}}</h1> #}
																					<div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
																						<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
																							<span class="required">{{cf.field_label}}</span>
																							<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" aria-label="Specify a target name for future usage and reference" data-kt-initialized="1"></i>
																						</label>
																						{% if cf.field_type === 'text' or cf.field_type === 'email' or cf.field_type === 'number' %}
																							<input class="form-control form-control-solid" type="{{cf.field_type}}" placeholder="Enter {{cf.field_label}}" name="common[{{cfg.row_name}}[{{cf.field_name}}[]]]" value="{{fieldValue}}">
																						{% elif cf.field_type === 'richtext' %}
																							<textarea class="content_wysiwyg" name="common[{{cfg.row_name}}[{{cf.field_name}}[]]]" id="wysiwyg-cf-{{loop.index}}">{{fieldValue}}</textarea>
																						{% elif cf.field_type === 'textarea' %}
																							<textarea class="form-control form-control-solid" rows="6" name="common[{{cfg.row_name}}[{{cf.field_name}}[]]]" placeholder="" spellcheck="false">{{fieldValue}}</textarea>
																						{% elif cf.field_type === 'media' %}
																							<span class='media-uploader-field'>
																								<span class="media_preview">
																									<span class="preview-holder">
																									<img src="{{fieldValue}}" style="max-width: 150px;"/>
																									</span>
																									<a class="btn btn-danger image-preview-remove-btn my-1 {{'d-none'  if not fieldValue}}">
																										<i class="fa fa-trash" tabindex="-1"></i>
																									</a>
																								</span>
																								<input type="hidden" class="media_url_field" id="{{cfg.row_name}}_{{cf.field_name}}_{{loop.index}}" name="common[{{cfg.row_name}}[{{cf.field_name}}[]]]" value="{{fieldValue}}">
																								<a class="btn btn-success" data-field="{{cfg.row_name}}_{{cf.field_name}}_{{loop.index}}" id="beave-media-field-{{ loop.index }}-{{ range(100,10000)|random }}" data-bs-toggle='modal' data-bs-target='#kt_modal_media_list'>Attach Media</a>
																							</span>
																						{% elif cf.field_type === 'date' %}
																							<div class="kt_daterangepicker">
																								<input class="form-control mb-2" id="kt_daterangepicker_{{loop.index}}" name="common[{{cfg.row_name}}[{{cf.field_name}}[]]]" placeholder="{{cf.placeholder}}" value="{{fieldValue}}">
																								<div class="fv-plugins-message-container invalid-feedback" id="field-error-{{cf.field_name}}"></div>
																							</div>
																						{% elif cf.field_type === 'dropdown' %}
																							<select class="form-select" data-control="select" name="common[{{cfg.row_name}}[{{cf.field_name}}[]]]" data-placeholder="Select an option">
																								<option value="">Select an option</option>
																								{% for dropdown, dd_i in cf.options %}
																									<option value="{{dropdown.value}}" {{'selected' if fieldValue == dropdown.value}}>{{dropdown.label}}</option>
																								{% endfor %}
																							</select>
																						{% endif %}
																						<div class="fv-plugins-message-container invalid-feedback" id="field-error-common_{{cfg.row_name}}_{{cf.field_name}}"></div>
																					</div>
																				{% endfor %}
																				<div class="text-center">
																					<a class="btn btn-sm btn-light-danger mt-3 mt-md-8" onClick="deleteChild(event)" child-id="form-repeater-child-{{cfg._id}}-{{loop.index}}" target-id="kt_docs_repeater_{{cfg._id}}_{{loop.index}}">
																						<i class="la la-trash-o"></i>Delete</a>
																				</div>
																			</div>
																		{% endfor %}
																	</div>
																	<div class="form-group mt-5 text-center">
																		<a class="btn btn-light-primary" onClick="cloneChild(event)" target-lang="{{cfg._id}}" target-lang-prefix="en" target-id="kt_docs_repeater_{{cfg._id}}_{{loop.index}}">
																			<i class="la la-plus"></i>Add
																	</a>
																</div>
															{% else %}
																{% for cf in cfg.fields %}
																	{% if contentDetail.content['common'] and contentDetail.content['common'][cfg.row_name][cf.field_name] %}
																		{% set fieldValue = contentDetail.content['common'][cfg.row_name][cf.field_name] %}
																	{% else %}
																		{% set fieldValue = '' %}
																	{% endif %}
																	<div class="d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
																		<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
																			<span class="required">{{ cf.field_label }}</span>
																			<i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" aria-label="Specify a target name for future usage and reference" data-kt-initialized="1"></i>
																		</label>
																		{% if cf.field_type === 'text' or cf.field_type === 'email' or cf.field_type === 'number' %}
																			<input type="{{ cf.field_type }}" class="form-control form-control-solid" placeholder="Enter {{ cf.field_label }}" name="common[{{ cfg.row_name }}[{{ cf.field_name }}]]" value="{{ fieldValue }}">
																		{% elif cf.field_type === 'richtext' %}
																			<textarea class="content_wysiwyg" name="common[{{ cfg.row_name }}[{{ cf.field_name }}]]" id="wysiwyg-cf-{{ loop.index }}">{{ fieldValue }}</textarea>
																		{% elif cf.field_type === 'textarea' %}
																			<textarea class="form-control form-control-solid" rows="6" name="common[{{ cfg.row_name }}[{{ cf.field_name }}]]" placeholder="" spellcheck="false">{{ fieldValue }}</textarea>
																		{% elif cf.field_type === 'media' %}
																			<span class='media-uploader-field'>
																				<span class="media_preview">
																					<span class="preview-holder">
																						{% if fieldValue %}
																							<img src="{{ fieldValue }}" style="max-width: 150px;"/>
																						{% endif %}
																					</span>
																					<a class="btn btn-danger image-preview-remove-btn my-1 {% if not fieldValue %}d-none{% endif %}">
																						<i class="fa fa-trash" tabindex="-1"></i>
																					</a>
																				</span>
																				<input type="hidden" class="media_url_field" id="{{ cfg.row_name }}_{{ cf.field_name }}_{{ loop.index }}" name="common[{{ cfg.row_name }}[{{ cf.field_name }}]]" value="{{ fieldValue }}">
																				<a class="btn btn-success" data-field="{{ cfg.row_name }}_{{ cf.field_name }}_{{ loop.index }}" id="beave-media-field-{{ loop.index }}-{{ range(100,10000)|random }}" data-bs-toggle='modal' data-bs-target='#kt_modal_media_list'>Attach Media</a>
																			</span>
																		{% elif cf.field_type === 'date' %}
																			<div class="kt_daterangepicker">
																				<input id="kt_daterangepicker_{{loop.index}}" class="form-control mb-2" type="text" name="common[{{cfg.row_name}}[{{cf.field_name}}]]" placeholder="{{cf.placeholder}}" value="">
																			</div>
																		{% elif cf.field_type === 'dropdown' %}
																			<select class="form-select" data-control="select2" name="common[{{cfg.row_name}}[{{cf.field_name}}]]" data-placeholder="Select an option">
																				<option></option>
																				{% for dropdown, dd_i in cf.options %}
																					<option value="{{dropdown.value}}">{{dropdown.label}}</option>
																				{% endfor %}
																			</select>
																		{% endif %}
																		<div class="fv-plugins-message-container invalid-feedback" id="field-error-common_{{ cfg.row_name }}_{{ cf.field_name }}">{{ cfg.field_errors.common[cf.field_name] }}</div>
																	</div>
																{% endfor %}
															{% endif %}
														</div>
														{% endif %}
													{% endfor %}
												</div>
											</div>
											{# //- END::Custom Fields without localisation #}
										</div>
									{% endif %}
									{% if reqContentType.has_meta %}
										<div class="tab-pane fade" role="tabpanel" id="kt_tab_pane_meta">
											<ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
												{% for brandLanguage in authUser.brand.languages %}
													<li class="nav-item">
														<a class="nav-link {{'active' if loop.index == 1 }}" data-bs-toggle="tab" href="#meta_tab_{{ brandLanguage.prefix }}">{{ brandLanguage.name }}</a>
													</li>
												{% endfor %}
											</ul>
											<div class="tab-content" id="meta-lang-tabs">
												{% for brandLanguage in authUser.brand.languages %}
													<div class="tab-pane fade {{'show active' if loop.index == 1 }}" id="meta_tab_{{ brandLanguage.prefix }}" role="tabpanel">
														<div class="row mt-5 pt-5">
															<div class="col-12 mt-5">
																{% for meta_section in metaFields %}
																	<div class="border border-gray-200 bg-slate-200 p-4 rounded-lg mb-4">
																		<h3 class="badge badge-light-success">{{ meta_section.name }}</h3>
																		{% for meta_field in meta_section.fields %}
																			<div class="row mb-6">
																				<label class="col-lg-4 col-form-label fw-semibold fs-6">{{ meta_field.label }}</label>
																				<div class="col-lg-8 pt-2">
																					{% set metaFieldValue = '' %}
																					{% if contentDetail
																						.meta and contentDetail
																						.meta[brandLanguage.prefix][meta_section.slug] and contentDetail
																						.meta[brandLanguage.prefix][meta_section.slug][meta_field.name] %}
																						{% set metaFieldValue = contentDetail.meta[brandLanguage.prefix][meta_section.slug][meta_field.name] %}
																					{% endif %}
																					{% if meta_field.type == 'textarea' %}
																						<textarea class="form-control" name="meta[{{ brandLanguage.prefix }}][{{ meta_section.slug }}][{{ meta_field.name }}]" placeholder="{{ meta_field.label }}">{{ metaFieldValue }}</textarea>
																					{% else %}
																						<input type="text" class="form-control" name="meta[{{ brandLanguage.prefix }}][{{ meta_section.slug }}][{{ meta_field.name }}]" placeholder="{{ meta_field.label }}" value="{{ metaFieldValue }}">
																					{% endif %}
																				</div>
																			</div>
																		{% endfor %}
																	</div>
																{% endfor %}
															</div>
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									{% endif %}
									
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 ms-lg-10">
						{% if reqContentType.has_slug %}
							{% include "./partials/_content-slug-field.njk" %}
						{% endif %}

						{% include "./partials/_publish.njk" %}

						{% if reqContentType.allowed_type and reqContentType.allowed_type.length %}
							{% include "./partials/_attach-content-type.njk" %}
						{% endif %}

						{# {% include "./partials/_add-to-home.njk" %} #}

						{% if reqContentType.single_type == false %}
							{% include "./partials/_position.njk" %}
						{% endif %}
					</div>
					{% include "./partials/_modal-attach-content.njk" %}
				</form>
			</div>
		</div>
	</div>

{% endblock %}