.card.card-flush.py-4
    .card-header
        .card-title
            h3 Add To Home
    .card-body.pt-0
        .row.row-cols-12(data-kt-buttons='true' data-kt-buttons-target="[data-kt-button='true']")
            .col.d-flex.text-start
                span.form-check.form-check-custom.form-check-solid.form-check-sm.align-items-start(data-kt-button='true')
                    input.form-check-input(type='radio' name='in_home' id="false" value='false' checked='checked')
                span.ms-5
                    label.form-label(for="false") No
            .col.d-flex.text-start
                span.form-check.form-check-custom.form-check-solid.form-check-sm.align-items-start(data-kt-button='true')
                    input.form-check-input(type='radio' id="true" name='in_home' value='true')
                span.ms-5
                    label.form-label(for="true") Yes
        .text-muted.fs-7 Add to the home page API