.card.card-flush.py-4
    .card-header
        .card-title
            h3 Attach Content Type
    .card-body.pt-0.text-center
        a.btn.btn-primary.btn-sm(href='#' data-bs-toggle='modal' data-bs-target='#kt_modal_create_app') Attach