.card.card-flush.py-4
    .card-header
        .card-title
            h3 Position
    .card-body.pt-0
        input.form-control(type='number' placeholder='Enter position'  name=`position` value="0")
        .fv-plugins-message-container.invalid-feedback(id=`field-error-position`)