table#kt_subscriptions_table.table.align-middle.table-row-dashed.fs-6.gy-5
    thead
        tr.text-start.text-muted.fw-bold.fs-7.text-uppercase.gs-0
            th.min-w-125px Key
            th.min-w-125px Value
            //- th.text-end.min-w-70px Actions
    tbody.text-gray-600.fw-semibold
        //- BEGIN::Data Loop

        each config_val,config_key in config_item
            -var fieldType = configs.schema.path(`${config_key}`)?.instance || 'Object'
            if fieldType == 'Object'
                each subVal,subKey in configs._doc[config_key]
                    -var subFieldType = configs.schema.path(`${config_key}.${subKey}`)?.instance || 'Object'
                    -var partialType = 'subList'
                    include _app-config-row
            else
                -var partialType = 'mainList'
                include _app-config-row

