.app-header-menu.app-header-mobile-drawer.align-items-stretch(data-kt-drawer='true' data-kt-drawer-name='app-header-menu' data-kt-drawer-activate='{default: true, lg: false}' data-kt-drawer-overlay='true' data-kt-drawer-width='225px' data-kt-drawer-direction='end' data-kt-drawer-toggle='#kt_app_header_menu_toggle' data-kt-swapper='true' data-kt-swapper-mode="{default: 'append', lg: 'prepend'}" data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}")
    #kt_app_header_menu.menu.menu-rounded.menu-column.menu-lg-row.my-5.my-lg-0.align-items-stretch.fw-semibold.px-2.px-lg-0(data-kt-menu='true')
        //- .menu-item.here.show.menu-lg-down-accordion.menu-here-bg.me-0.me-lg-2(data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement='bottom-start')
            span.menu-link
                span.menu-title Dashboards
                span.menu-arrow.d-lg-none
            .menu-sub.menu-sub-lg-down-accordion.menu-sub-lg-dropdown.p-0.w-100.w-lg-850px
                .menu-state-bg.menu-extended(data-kt-menu-dismiss='true')
                    .row
                        .col-lg-8.mb-3.mb-lg-0.py-3.px-3.py-lg-6.px-lg-6
                            .row
                                .col-lg-6.mb-3
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='/admin/dashboard')
                                            span.menu-custom-icon.d-flex.flex-center.flex-shrink-0.rounded.w-40px.h-40px.me-3
                                                span.svg-icon.svg-icon-primary.svg-icon-1
                                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                        rect(x='2' y='2' width='9' height='9' rx='2' fill='currentColor')
                                                        rect(opacity='0.3' x='13' y='2' width='9' height='9' rx='2' fill='currentColor')
                                                        rect(opacity='0.3' x='13' y='13' width='9' height='9' rx='2' fill='currentColor')
                                                        rect(opacity='0.3' x='2' y='13' width='9' height='9' rx='2' fill='currentColor')
                                            span.d-flex.flex-column
                                                span.fs-6.fw-bold.text-gray-800 Default
                                                span.fs-7.fw-semibold.text-muted Reports &amp; statistics
                                .col-lg-6.mb-3
                                    .menu-item.p-0.m-0
                                        a.menu-link.active(href='../../demo1/dist/dashboards/ecommerce.html')
                                            span.menu-custom-icon.d-flex.flex-center.flex-shrink-0.rounded.w-40px.h-40px.me-3
                                                span.svg-icon.svg-icon-danger.svg-icon-1
                                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M21 10H13V11C13 11.6 12.6 12 12 12C11.4 12 11 11.6 11 11V10H3C2.4 10 2 10.4 2 11V13H22V11C22 10.4 21.6 10 21 10Z' fill='currentColor')
                                                        path(opacity='0.3' d='M12 12C11.4 12 11 11.6 11 11V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V11C13 11.6 12.6 12 12 12Z' fill='currentColor')
                                                        path(opacity='0.3' d='M18.1 21H5.9C5.4 21 4.9 20.6 4.8 20.1L3 13H21L19.2 20.1C19.1 20.6 18.6 21 18.1 21ZM13 18V15C13 14.4 12.6 14 12 14C11.4 14 11 14.4 11 15V18C11 18.6 11.4 19 12 19C12.6 19 13 18.6 13 18ZM17 18V15C17 14.4 16.6 14 16 14C15.4 14 15 14.4 15 15V18C15 18.6 15.4 19 16 19C16.6 19 17 18.6 17 18ZM9 18V15C9 14.4 8.6 14 8 14C7.4 14 7 14.4 7 15V18C7 18.6 7.4 19 8 19C8.6 19 9 18.6 9 18Z' fill='currentColor')
                                            span.d-flex.flex-column
                                                span.fs-6.fw-bold.text-gray-800 eCommerce
                                                span.fs-7.fw-semibold.text-muted Sales reports
                                .col-lg-6.mb-3
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/dashboards/projects.html')
                                            span.menu-custom-icon.d-flex.flex-center.flex-shrink-0.rounded.w-40px.h-40px.me-3
                                                span.svg-icon.svg-icon-info.svg-icon-1
                                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M2 11.7127L10 14.1127L22 11.7127L14 9.31274L2 11.7127Z' fill='currentColor')
                                                        path(opacity='0.3' d='M20.9 7.91274L2 11.7127V6.81275C2 6.11275 2.50001 5.61274 3.10001 5.51274L20.6 2.01274C21.3 1.91274 22 2.41273 22 3.11273V6.61273C22 7.21273 21.5 7.81274 20.9 7.91274ZM22 16.6127V11.7127L3.10001 15.5127C2.50001 15.6127 2 16.2127 2 16.8127V20.3127C2 21.0127 2.69999 21.6128 3.39999 21.4128L20.9 17.9128C21.5 17.8128 22 17.2127 22 16.6127Z' fill='currentColor')
                                            span.d-flex.flex-column
                                                span.fs-6.fw-bold.text-gray-800 Projects
                                                span.fs-7.fw-semibold.text-muted Tasts, graphs &amp; charts
                                .col-lg-6.mb-3
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/dashboards/online-courses.html')
                                            span.menu-custom-icon.d-flex.flex-center.flex-shrink-0.rounded.w-40px.h-40px.me-3
                                                span.svg-icon.svg-icon-success.svg-icon-1
                                                    svg(width='24' height='25' viewbox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                        path(opacity='0.3' d='M8.9 21L7.19999 22.6999C6.79999 23.0999 6.2 23.0999 5.8 22.6999L4.1 21H8.9ZM4 16.0999L2.3 17.8C1.9 18.2 1.9 18.7999 2.3 19.1999L4 20.9V16.0999ZM19.3 9.1999L15.8 5.6999C15.4 5.2999 14.8 5.2999 14.4 5.6999L9 11.0999V21L19.3 10.6999C19.7 10.2999 19.7 9.5999 19.3 9.1999Z' fill='currentColor')
                                                        path(d='M21 15V20C21 20.6 20.6 21 20 21H11.8L18.8 14H20C20.6 14 21 14.4 21 15ZM10 21V4C10 3.4 9.6 3 9 3H4C3.4 3 3 3.4 3 4V21C3 21.6 3.4 22 4 22H9C9.6 22 10 21.6 10 21ZM7.5 18.5C7.5 19.1 7.1 19.5 6.5 19.5C5.9 19.5 5.5 19.1 5.5 18.5C5.5 17.9 5.9 17.5 6.5 17.5C7.1 17.5 7.5 17.9 7.5 18.5Z' fill='currentColor')
                                            span.d-flex.flex-column
                                                span.fs-6.fw-bold.text-gray-800 Online Courses
                                                span.fs-7.fw-semibold.text-muted Student progress
                                .col-lg-6.mb-3
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/dashboards/marketing.html')
                                            span.menu-custom-icon.d-flex.flex-center.flex-shrink-0.rounded.w-40px.h-40px.me-3
                                                span.svg-icon.svg-icon-dark.svg-icon-1
                                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                        path(opacity='0.3' d='M14 3V21H10V3C10 2.4 10.4 2 11 2H13C13.6 2 14 2.4 14 3ZM7 14H5C4.4 14 4 14.4 4 15V21H8V15C8 14.4 7.6 14 7 14Z' fill='currentColor')
                                                        path(d='M21 20H20V8C20 7.4 19.6 7 19 7H17C16.4 7 16 7.4 16 8V20H3C2.4 20 2 20.4 2 21C2 21.6 2.4 22 3 22H21C21.6 22 22 21.6 22 21C22 20.4 21.6 20 21 20Z' fill='currentColor')
                                            span.d-flex.flex-column
                                                span.fs-6.fw-bold.text-gray-800 Marketing
                                                span.fs-7.fw-semibold.text-muted Campaings &amp; conversions
                                .col-lg-6.mb-3
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/dashboards/bidding.html')
                                            span.menu-custom-icon.d-flex.flex-center.flex-shrink-0.rounded.w-40px.h-40px.me-3
                                                span.svg-icon.svg-icon-warning.svg-icon-1
                                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                        path(d='M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z' fill='currentColor')
                                                        path(opacity='0.3' d='M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z' fill='currentColor')
                                            span.d-flex.flex-column
                                                span.fs-6.fw-bold.text-gray-800 Bidding
                                                span.fs-7.fw-semibold.text-muted Campaings &amp; conversions
                                .col-lg-6.mb-3
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/dashboards/pos.html')
                                            span.menu-custom-icon.d-flex.flex-center.flex-shrink-0.rounded.w-40px.h-40px.me-3
                                                span.svg-icon.svg-icon-danger.svg-icon-1
                                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                        path(opacity='0.3' d='M22 8H8L12 4H19C19.6 4 20.2 4.39999 20.5 4.89999L22 8ZM3.5 19.1C3.8 19.7 4.4 20 5 20H12L16 16H2L3.5 19.1ZM19.1 20.5C19.7 20.2 20 19.6 20 19V12L16 8V22L19.1 20.5ZM4.9 3.5C4.3 3.8 4 4.4 4 5V12L8 16V2L4.9 3.5Z' fill='currentColor')
                                                        path(d='M22 8L20 12L16 8H22ZM8 16L4 12L2 16H8ZM16 16L12 20L16 22V16ZM8 8L12 4L8 2V8Z' fill='currentColor')
                                            span.d-flex.flex-column
                                                span.fs-6.fw-bold.text-gray-800 POS System
                                                span.fs-7.fw-semibold.text-muted Campaings &amp; conversions
                                .col-lg-6.mb-3
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/dashboards/call-center.html')
                                            span.menu-custom-icon.d-flex.flex-center.flex-shrink-0.rounded.w-40px.h-40px.me-3
                                                span.svg-icon.svg-icon-primary.svg-icon-1
                                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                        path(opacity='0.3' d='M14 3V20H2V3C2 2.4 2.4 2 3 2H13C13.6 2 14 2.4 14 3ZM11 13V11C11 9.7 10.2 8.59995 9 8.19995V7C9 6.4 8.6 6 8 6C7.4 6 7 6.4 7 7V8.19995C5.8 8.59995 5 9.7 5 11V13C5 13.6 4.6 14 4 14V15C4 15.6 4.4 16 5 16H11C11.6 16 12 15.6 12 15V14C11.4 14 11 13.6 11 13Z' fill='currentColor')
                                                        path(d='M2 20H14V21C14 21.6 13.6 22 13 22H3C2.4 22 2 21.6 2 21V20ZM9 3V2H7V3C7 3.6 7.4 4 8 4C8.6 4 9 3.6 9 3ZM6.5 16C6.5 16.8 7.2 17.5 8 17.5C8.8 17.5 9.5 16.8 9.5 16H6.5ZM21.7 12C21.7 11.4 21.3 11 20.7 11H17.6C17 11 16.6 11.4 16.6 12C16.6 12.6 17 13 17.6 13H20.7C21.2 13 21.7 12.6 21.7 12ZM17 8C16.6 8 16.2 7.80002 16.1 7.40002C15.9 6.90002 16.1 6.29998 16.6 6.09998L19.1 5C19.6 4.8 20.2 5 20.4 5.5C20.6 6 20.4 6.60005 19.9 6.80005L17.4 7.90002C17.3 8.00002 17.1 8 17 8ZM19.5 19.1C19.4 19.1 19.2 19.1 19.1 19L16.6 17.9C16.1 17.7 15.9 17.1 16.1 16.6C16.3 16.1 16.9 15.9 17.4 16.1L19.9 17.2C20.4 17.4 20.6 18 20.4 18.5C20.2 18.9 19.9 19.1 19.5 19.1Z' fill='currentColor')
                                            span.d-flex.flex-column
                                                span.fs-6.fw-bold.text-gray-800 Call Center
                                                span.fs-7.fw-semibold.text-muted Campaings &amp; conversions
                            .separator.separator-dashed.mx-5.my-5
                            .d-flex.flex-stack.flex-wrap.flex-lg-nowrap.gap-2.mx-5
                                .d-flex.flex-column.me-5
                                    .fs-6.fw-bold.text-gray-800 Landing Page Template
                                    .fs-7.fw-semibold.text-muted Onpe page landing template with pricing &amp; others
                                a.btn.btn-sm.btn-primary.fw-bold(href='../../demo1/dist/landing.html') Explore
                        .menu-more.bg-light.col-lg-4.py-3.px-3.py-lg-6.px-lg-6.rounded-end
                            h4.fs-6.fs-lg-4.text-gray-800.fw-bold.mt-3.mb-3.ms-4 More Dashboards
                            .menu-item.p-0.m-0
                                a.menu-link.py-2(href='../../demo1/dist/dashboards/logistics.html')
                                    span.menu-title Logistics
                            .menu-item.p-0.m-0
                                a.menu-link.py-2(href='../../demo1/dist/dashboards/website-analytics.html')
                                    span.menu-title Website Analytics
                            .menu-item.p-0.m-0
                                a.menu-link.py-2(href='../../demo1/dist/dashboards/finance-performance.html')
                                    span.menu-title Finance Performance
                            .menu-item.p-0.m-0
                                a.menu-link.py-2(href='../../demo1/dist/dashboards/store-analytics.html')
                                    span.menu-title Store Analytics
                            .menu-item.p-0.m-0
                                a.menu-link.py-2(href='../../demo1/dist/dashboards/social.html')
                                    span.menu-title Social
                            .menu-item.p-0.m-0
                                a.menu-link.py-2(href='../../demo1/dist/dashboards/delivery.html')
                                    span.menu-title Delivery
                            .menu-item.p-0.m-0
                                a.menu-link.py-2(href='../../demo1/dist/dashboards/crypto.html')
                                    span.menu-title Crypto
                            .menu-item.p-0.m-0
                                a.menu-link.py-2(href='../../demo1/dist/dashboards/school.html')
                                    span.menu-title School
                            .menu-item.p-0.m-0
                                a.menu-link.py-2(href='../../demo1/dist/dashboards/podcast.html')
                                    span.menu-title Podcast
        //- .menu-item.menu-lg-down-accordion.me-0.me-lg-2(data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement='bottom-start')
            span.menu-link
                span.menu-title Pages
                span.menu-arrow.d-lg-none
            .menu-sub.menu-sub-lg-down-accordion.menu-sub-lg-dropdown.p-0
                .menu-active-bg.px-4.px-lg-0
                    .d-flex.w-100.overflow-auto
                        ul.nav.nav-stretch.nav-line-tabs.fw-bold.fs-6.p-0.p-lg-10.flex-nowrap.flex-grow-1
                            li.nav-item.mx-lg-1
                                a.nav-link.py-3.py-lg-6.active.text-active-primary(href='#' data-bs-toggle='tab' data-bs-target='#kt_app_header_menu_pages_pages') General
                            li.nav-item.mx-lg-1
                                a.nav-link.py-3.py-lg-6.text-active-primary(href='#' data-bs-toggle='tab' data-bs-target='#kt_app_header_menu_pages_account') Account
                            li.nav-item.mx-lg-1
                                a.nav-link.py-3.py-lg-6.text-active-primary(href='#' data-bs-toggle='tab' data-bs-target='#kt_app_header_menu_pages_authentication') Authentication
                            li.nav-item.mx-lg-1
                                a.nav-link.py-3.py-lg-6.text-active-primary(href='#' data-bs-toggle='tab' data-bs-target='#kt_app_header_menu_pages_utilities') Utilities
                            li.nav-item.mx-lg-1
                                a.nav-link.py-3.py-lg-6.text-active-primary(href='#' data-bs-toggle='tab' data-bs-target='#kt_app_header_menu_pages_widgets') Widgets
                    .tab-content.py-4.py-lg-8.px-lg-7
                        #kt_app_header_menu_pages_pages.tab-pane.active.w-lg-1000px
                            .row
                                .col-lg-8
                                    .row
                                        .col-lg-3.mb-6.mb-lg-0
                                            h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 User Profile
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/pages/user-profile/overview.html')
                                                    span.menu-title Overview
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/pages/user-profile/projects.html')
                                                    span.menu-title Projects
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/pages/user-profile/campaigns.html')
                                                    span.menu-title Campaigns
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/pages/user-profile/documents.html')
                                                    span.menu-title Documents
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/pages/user-profile/followers.html')
                                                    span.menu-title Followers
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/pages/user-profile/activity.html')
                                                    span.menu-title Activity
                                        .col-lg-3.mb-6.mb-lg-0
                                            .mb-6
                                                h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Corporate
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/about.html')
                                                        span.menu-title About
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/team.html')
                                                        span.menu-title Our Team
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/contact.html')
                                                        span.menu-title Contact Us
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/licenses.html')
                                                        span.menu-title Licenses
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/sitemap.html')
                                                        span.menu-title Sitemap
                                            .mb-0
                                                h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Careers
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/careers/list.html')
                                                        span.menu-title Careers List
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/careers/apply.html')
                                                        span.menu-title Careers Apply
                                        .col-lg-3.mb-6.mb-lg-0
                                            .mb-6
                                                h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 FAQ
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/faq/classic.html')
                                                        span.menu-title FAQ Classic
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/faq/extended.html')
                                                        span.menu-title FAQ Extended
                                            .mb-6
                                                h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Blog
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/blog/home.html')
                                                        span.menu-title Blog Home
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/blog/post.html')
                                                        span.menu-title Blog Post
                                            .mb-0
                                                h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Pricing
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/pricing/column.html')
                                                        span.menu-title Column Pricing
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/pricing/table.html')
                                                        span.menu-title Table Pricing
                                        .col-lg-3.mb-6.mb-lg-0
                                            .mb-0
                                                h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Social
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/social/feeds.html')
                                                        span.menu-title Feeds
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/social/activity.html')
                                                        span.menu-title Activty
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/social/followers.html')
                                                        span.menu-title Followers
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/pages/social/settings.html')
                                                        span.menu-title Settings
                                .col-lg-4
                                    img.rounded.mw-100(src='/cms-static/admin/assets/media/stock/600x600/img-82.jpg' alt='')
                        #kt_app_header_menu_pages_account.tab-pane.w-lg-600px
                            .row
                                .col-lg-5.mb-6.mb-lg-0
                                    .row
                                        .col-lg-6
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/account/overview.html')
                                                    span.menu-title Overview
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/account/settings.html')
                                                    span.menu-title Settings
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/account/security.html')
                                                    span.menu-title Security
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/account/activity.html')
                                                    span.menu-title Activity
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/account/billing.html')
                                                    span.menu-title Billing
                                        .col-lg-6
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/account/statements.html')
                                                    span.menu-title Statements
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/account/referrals.html')
                                                    span.menu-title Referrals
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/account/api-keys.html')
                                                    span.menu-title API Keys
                                            .menu-item.p-0.m-0
                                                a.menu-link(href='../../demo1/dist/account/logs.html')
                                                    span.menu-title Logs
                                .col-lg-7
                                    img.rounded.mw-100(src='/cms-static/admin/assets/media/stock/900x600/46.jpg' alt='')
                        #kt_app_header_menu_pages_authentication.tab-pane.w-lg-1000px
                            .row
                                .col-lg-3.mb-6.mb-lg-0
                                    .mb-6
                                        h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Corporate Layout
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/corporate/sign-in.html')
                                                span.menu-title Sign-in
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/corporate/sign-up.html')
                                                span.menu-title Sign-up
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/corporate/two-steps.html')
                                                span.menu-title Two-steps
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/corporate/reset-password.html')
                                                span.menu-title Reset Password
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/corporate/new-password.html')
                                                span.menu-title New Password
                                    .mb-0
                                        h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Overlay Layout
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/overlay/sign-in.html')
                                                span.menu-title Sign-in
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/overlay/sign-up.html')
                                                span.menu-title Sign-up
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/overlay/two-steps.html')
                                                span.menu-title Two-steps
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/overlay/reset-password.html')
                                                span.menu-title Reset Password
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/overlay/new-password.html')
                                                span.menu-title New Password
                                .col-lg-3.mb-6.mb-lg-0
                                    .mb-6
                                        h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Creative Layout
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/creative/sign-in.html')
                                                span.menu-title Sign-in
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/creative/sign-up.html')
                                                span.menu-title Sign-up
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/creative/two-steps.html')
                                                span.menu-title Two-steps
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/creative/reset-password.html')
                                                span.menu-title Reset Password
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/creative/new-password.html')
                                                span.menu-title New Password
                                    .mb-6
                                        h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Fancy Layout
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/fancy/sign-in.html')
                                                span.menu-title Sign-in
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/fancy/sign-up.html')
                                                span.menu-title Sign-up
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/fancy/two-steps.html')
                                                span.menu-title Two-steps
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/fancy/reset-password.html')
                                                span.menu-title Reset Password
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/layouts/fancy/new-password.html')
                                                span.menu-title New Password
                                .col-lg-3.mb-6.mb-lg-0
                                    .mb-0
                                        h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 General
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/extended/multi-steps-sign-up.html')
                                                span.menu-title Multi-steps Sign-up
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/extended/two-factor-auth.html')
                                                span.menu-title Two Factor Auth
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/general/welcome.html')
                                                span.menu-title Welcome Message
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/general/verify-email.html')
                                                span.menu-title Verify Email
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/extended/coming-soon.html')
                                                span.menu-title Coming Soon
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/general/password-confirmation.html')
                                                span.menu-title Password Confirmation
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/general/account-deactivated.html')
                                                span.menu-title Account Deactivation
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/general/error-404.html')
                                                span.menu-title Error 404
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/general/error-500.html')
                                                span.menu-title Error 500
                                .col-lg-3.mb-6.mb-lg-0
                                    .mb-0
                                        h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Email Templates
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/email/verify-email.html')
                                                span.menu-title Verify Email
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/email/invitation.html')
                                                span.menu-title Account Invitation
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/email/reset-password.html')
                                                span.menu-title Reset Password
                                        .menu-item.p-0.m-0
                                            a.menu-link(href='../../demo1/dist/authentication/email/password-change.html')
                                                span.menu-title Password Changed
                        #kt_app_header_menu_pages_utilities.tab-pane.w-lg-1000px
                            .row
                                .col-lg-7
                                    .row
                                        .col-lg-4.mb-6.mb-lg-0
                                            .mb-0
                                                h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 General Modals
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/general/invite-friends.html')
                                                        span.menu-title Invite Friends
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/general/view-users.html')
                                                        span.menu-title View Users
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/general/select-users.html')
                                                        span.menu-title Select Users
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/general/upgrade-plan.html')
                                                        span.menu-title Upgrade Plan
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/general/share-earn.html')
                                                        span.menu-title Share &amp; Earn
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/forms/new-target.html')
                                                        span.menu-title New Target
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/forms/new-card.html')
                                                        span.menu-title New Card
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/forms/new-address.html')
                                                        span.menu-title New Address
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/forms/create-api-key.html')
                                                        span.menu-title Create API Key
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/forms/bidding.html')
                                                        span.menu-title Bidding
                                        .col-lg-4.mb-6.mb-lg-0
                                            .mb-6
                                                h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Advanced Modals
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/wizards/create-app.html')
                                                        span.menu-title Create App
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/wizards/create-campaign.html')
                                                        span.menu-title Create Campaign
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/wizards/create-account.html')
                                                        span.menu-title Create Business Acc
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/wizards/create-project.html')
                                                        span.menu-title Create Project
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/wizards/top-up-wallet.html')
                                                        span.menu-title Top Up Wallet
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/wizards/offer-a-deal.html')
                                                        span.menu-title Offer a Deal
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/wizards/two-factor-authentication.html')
                                                        span.menu-title Two Factor Auth
                                            .mb-0
                                                h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Search
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/search/horizontal.html')
                                                        span.menu-title Horizontal
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/search/vertical.html')
                                                        span.menu-title Vertical
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/search/users.html')
                                                        span.menu-title Users
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/search/select-location.html')
                                                        span.menu-title Select Location
                                        .col-lg-4.mb-6.mb-lg-0
                                            .mb-0
                                                h4.fs-6.fs-lg-4.fw-bold.mb-3.ms-4 Wizards
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/wizards/horizontal.html')
                                                        span.menu-title Horizontal
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/wizards/vertical.html')
                                                        span.menu-title Vertical
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/wizards/two-factor-authentication.html')
                                                        span.menu-title Two Factor Auth
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/wizards/create-app.html')
                                                        span.menu-title Create App
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/wizards/create-campaign.html')
                                                        span.menu-title Create Campaign
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/wizards/create-account.html')
                                                        span.menu-title Create Account
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/wizards/create-project.html')
                                                        span.menu-title Create Project
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/modals/wizards/top-up-wallet.html')
                                                        span.menu-title Top Up Wallet
                                                .menu-item.p-0.m-0
                                                    a.menu-link(href='../../demo1/dist/utilities/wizards/offer-a-deal.html')
                                                        span.menu-title Offer a Deal
                                .col-lg-5.pe-lg-5
                                    img.rounded.mw-100(src='/cms-static/admin/assets/media/stock/600x600/img-84.jpg' alt='')
                        #kt_app_header_menu_pages_widgets.tab-pane.w-lg-500px
                            .row
                                .col-lg-4.mb-6.mb-lg-0
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/widgets/lists.html')
                                            span.menu-title Lists
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/widgets/statistics.html')
                                            span.menu-title Statistics
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/widgets/charts.html')
                                            span.menu-title Charts
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/widgets/mixed.html')
                                            span.menu-title Mixed
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/widgets/tables.html')
                                            span.menu-title Tables
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/widgets/feeds.html')
                                            span.menu-title Feeds
                                .col-lg-8
                                    img.rounded.mw-100(src='/cms-static/admin/assets/media/stock/900x600/44.jpg' alt='')
        .menu-item.menu-lg-down-accordion.menu-sub-lg-down-indention.me-0.me-lg-2(data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement='bottom-start')
            span.menu-link
                span.menu-title Brands
                span.menu-arrow.d-lg-none
            .menu-sub.menu-sub-lg-down-accordion.menu-sub-lg-dropdown.px-lg-2.py-lg-4.w-lg-250px
                each brand, i in allBrands
                    .menu-item.menu-lg-down-accordion(data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement='right-start')
                        span.menu-link
                            span.menu-icon
                                span.svg-icon.svg-icon-3
                                    svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(opacity='0.3' d='M4.05424 15.1982C8.34524 7.76818 13.5782 3.26318 20.9282 2.01418C21.0729 1.98837 21.2216 1.99789 21.3618 2.04193C21.502 2.08597 21.6294 2.16323 21.7333 2.26712C21.8372 2.37101 21.9144 2.49846 21.9585 2.63863C22.0025 2.7788 22.012 2.92754 21.9862 3.07218C20.7372 10.4222 16.2322 15.6552 8.80224 19.9462L4.05424 15.1982ZM3.81924 17.3372L2.63324 20.4482C2.58427 20.5765 2.5735 20.7163 2.6022 20.8507C2.63091 20.9851 2.69788 21.1082 2.79503 21.2054C2.89218 21.3025 3.01536 21.3695 3.14972 21.3982C3.28408 21.4269 3.42387 21.4161 3.55224 21.3672L6.66524 20.1802L3.81924 17.3372ZM16.5002 5.99818C16.2036 5.99818 15.9136 6.08615 15.6669 6.25097C15.4202 6.41579 15.228 6.65006 15.1144 6.92415C15.0009 7.19824 14.9712 7.49984 15.0291 7.79081C15.0869 8.08178 15.2298 8.34906 15.4396 8.55884C15.6494 8.76862 15.9166 8.91148 16.2076 8.96935C16.4986 9.02723 16.8002 8.99753 17.0743 8.884C17.3484 8.77046 17.5826 8.5782 17.7474 8.33153C17.9123 8.08486 18.0002 7.79485 18.0002 7.49818C18.0002 7.10035 17.8422 6.71882 17.5609 6.43752C17.2796 6.15621 16.8981 5.99818 16.5002 5.99818Z' fill='currentColor')
                                        path(d='M4.05423 15.1982L2.24723 13.3912C2.15505 13.299 2.08547 13.1867 2.04395 13.0632C2.00243 12.9396 1.9901 12.8081 2.00793 12.679C2.02575 12.5498 2.07325 12.4266 2.14669 12.3189C2.22013 12.2112 2.31752 12.1219 2.43123 12.0582L9.15323 8.28918C7.17353 10.3717 5.4607 12.6926 4.05423 15.1982ZM8.80023 19.9442L10.6072 21.7512C10.6994 21.8434 10.8117 21.9129 10.9352 21.9545C11.0588 21.996 11.1903 22.0083 11.3195 21.9905C11.4486 21.9727 11.5718 21.9252 11.6795 21.8517C11.7872 21.7783 11.8765 21.6809 11.9402 21.5672L15.7092 14.8442C13.6269 16.8245 11.3061 18.5377 8.80023 19.9442ZM7.04023 18.1832L12.5832 12.6402C12.7381 12.4759 12.8228 12.2577 12.8195 12.032C12.8161 11.8063 12.725 11.5907 12.5653 11.4311C12.4057 11.2714 12.1901 11.1803 11.9644 11.1769C11.7387 11.1736 11.5205 11.2583 11.3562 11.4132L5.81323 16.9562L7.04023 18.1832Z' fill='currentColor')
                            span.menu-title #{brand.name.en}
                            span.menu-arrow
                        .menu-sub.menu-sub-lg-down-accordion.menu-sub-lg-dropdown.menu-active-bg.px-lg-2.py-lg-4.w-lg-225px
                            each domain, i in brand.domains
                                .menu-item
                                    a.menu-link(href=`/admin/settings/switch-brand?b=${brand._id}&d=${domain.country.code}`)
                                        span.menu-bullet
                                            span.bullet.bullet-dot
                                        span.menu-title #{domain.country.name.en}
        //- .menu-item.menu-lg-down-accordion.me-0.me-lg-2(data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement='bottom-start')
            span.menu-link
                span.menu-title Layouts
                span.menu-arrow.d-lg-none
            .menu-sub.menu-sub-lg-down-accordion.menu-sub-lg-dropdown.p-0.w-100.w-lg-850px
                .menu-active-bg.pt-1.pb-3.px-3.py-lg-6.px-lg-6(data-kt-menu-dismiss='true')
                    .row
                        .col-lg-6
                            .row
                                .col-lg-6.mb-3
                                    h4.fs-6.fs-lg-4.text-gray-800.fw-bold.mt-3.mb-3.ms-4 Layouts
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/layouts/light-sidebar.html')
                                            span.menu-bullet
                                                span.bullet.bullet-dot.bg-gray-300i.h-6px.w-6px
                                            span.menu-title Light Sidebar
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/layouts/dark-sidebar.html')
                                            span.menu-bullet
                                                span.bullet.bullet-dot.bg-gray-300i.h-6px.w-6px
                                            span.menu-title Dark Sidebar
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/layouts/light-header.html')
                                            span.menu-bullet
                                                span.bullet.bullet-dot.bg-gray-300i.h-6px.w-6px
                                            span.menu-title Light Header
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/layouts/dark-header.html')
                                            span.menu-bullet
                                                span.bullet.bullet-dot.bg-gray-300i.h-6px.w-6px
                                            span.menu-title Dark Header
                                .col-lg-6.mb-3
                                    h4.fs-6.fs-lg-4.text-gray-800.fw-bold.mt-3.mb-3.ms-4 Toolbars
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/toolbars/classic.html')
                                            span.menu-bullet
                                                span.bullet.bullet-dot.bg-gray-300i.h-6px.w-6px
                                            span.menu-title Classic
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/toolbars/saas.html')
                                            span.menu-bullet
                                                span.bullet.bullet-dot.bg-gray-300i.h-6px.w-6px
                                            span.menu-title SaaS
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/toolbars/accounting.html')
                                            span.menu-bullet
                                                span.bullet.bullet-dot.bg-gray-300i.h-6px.w-6px
                                            span.menu-title Accounting
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/toolbars/extended.html')
                                            span.menu-bullet
                                                span.bullet.bullet-dot.bg-gray-300i.h-6px.w-6px
                                            span.menu-title Extended
                                    .menu-item.p-0.m-0
                                        a.menu-link(href='../../demo1/dist/toolbars/reports.html')
                                            span.menu-bullet
                                                span.bullet.bullet-dot.bg-gray-300i.h-6px.w-6px
                                            span.menu-title Reports
                            .separator.separator-dashed.mx-lg-5.mt-2.mb-6
                            .d-flex.flex-stack.flex-wrap.flex-lg-nowrap.gap-2.mb-5.mb-lg-0.mx-lg-5
                                .d-flex.flex-column.me-5
                                    .fs-6.fw-bold.text-gray-800 Layout Builder
                                    .fs-7.fw-semibold.text-muted Customize, preview and export
                                a.btn.btn-sm.btn-primary.fw-bold(href='https://preview.keenthemes.com/metronic8/demo1/layout-builder.html') Try Builder
                        .col-lg-6.mb-3.py-lg-3.pe-lg-8.d-flex.align-items-center
                            img.rounded.mw-100(src='/cms-static/admin/assets/media/stock/900x600/45.jpg' alt='')
        //- .menu-item.menu-lg-down-accordion.menu-sub-lg-down-indention.me-0.me-lg-2(data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement='bottom-start')
            span.menu-link
                span.menu-title Help
                span.menu-arrow.d-lg-none
            .menu-sub.menu-sub-lg-down-accordion.menu-sub-lg-dropdown.px-lg-2.py-lg-4.w-lg-200px
                .menu-item
                    a.menu-link(href='../../demo1/dist/documentation/base/utilities.html' title='Check out over 200 in-house components, plugins and ready for use solutions' data-bs-toggle='tooltip' data-bs-trigger='hover' data-bs-dismiss='click' data-bs-placement='right')
                        span.menu-icon
                            span.svg-icon.svg-icon-3
                                svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(opacity='0.3' d='M4.05424 15.1982C8.34524 7.76818 13.5782 3.26318 20.9282 2.01418C21.0729 1.98837 21.2216 1.99789 21.3618 2.04193C21.502 2.08597 21.6294 2.16323 21.7333 2.26712C21.8372 2.37101 21.9144 2.49846 21.9585 2.63863C22.0025 2.7788 22.012 2.92754 21.9862 3.07218C20.7372 10.4222 16.2322 15.6552 8.80224 19.9462L4.05424 15.1982ZM3.81924 17.3372L2.63324 20.4482C2.58427 20.5765 2.5735 20.7163 2.6022 20.8507C2.63091 20.9851 2.69788 21.1082 2.79503 21.2054C2.89218 21.3025 3.01536 21.3695 3.14972 21.3982C3.28408 21.4269 3.42387 21.4161 3.55224 21.3672L6.66524 20.1802L3.81924 17.3372ZM16.5002 5.99818C16.2036 5.99818 15.9136 6.08615 15.6669 6.25097C15.4202 6.41579 15.228 6.65006 15.1144 6.92415C15.0009 7.19824 14.9712 7.49984 15.0291 7.79081C15.0869 8.08178 15.2298 8.34906 15.4396 8.55884C15.6494 8.76862 15.9166 8.91148 16.2076 8.96935C16.4986 9.02723 16.8002 8.99753 17.0743 8.884C17.3484 8.77046 17.5826 8.5782 17.7474 8.33153C17.9123 8.08486 18.0002 7.79485 18.0002 7.49818C18.0002 7.10035 17.8422 6.71882 17.5609 6.43752C17.2796 6.15621 16.8981 5.99818 16.5002 5.99818Z' fill='currentColor')
                                    path(d='M4.05423 15.1982L2.24723 13.3912C2.15505 13.299 2.08547 13.1867 2.04395 13.0632C2.00243 12.9396 1.9901 12.8081 2.00793 12.679C2.02575 12.5498 2.07325 12.4266 2.14669 12.3189C2.22013 12.2112 2.31752 12.1219 2.43123 12.0582L9.15323 8.28918C7.17353 10.3717 5.4607 12.6926 4.05423 15.1982ZM8.80023 19.9442L10.6072 21.7512C10.6994 21.8434 10.8117 21.9129 10.9352 21.9545C11.0588 21.996 11.1903 22.0083 11.3195 21.9905C11.4486 21.9727 11.5718 21.9252 11.6795 21.8517C11.7872 21.7783 11.8765 21.6809 11.9402 21.5672L15.7092 14.8442C13.6269 16.8245 11.3061 18.5377 8.80023 19.9442ZM7.04023 18.1832L12.5832 12.6402C12.7381 12.4759 12.8228 12.2577 12.8195 12.032C12.8161 11.8063 12.725 11.5907 12.5653 11.4311C12.4057 11.2714 12.1901 11.1803 11.9644 11.1769C11.7387 11.1736 11.5205 11.2583 11.3562 11.4132L5.81323 16.9562L7.04023 18.1832Z' fill='currentColor')
                        span.menu-title Components
                .menu-item
                    a.menu-link(href='../../demo1/dist/documentation/getting-started.html' title='Check out the complete documentation' data-bs-toggle='tooltip' data-bs-trigger='hover' data-bs-dismiss='click' data-bs-placement='right')
                        span.menu-icon
                            span.svg-icon.svg-icon-3
                                svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(opacity='0.3' d='M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z' fill='currentColor')
                                    path(d='M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z' fill='currentColor')
                        span.menu-title Documentation
                .menu-item
                    a.menu-link(href='../../demo1/dist/documentation/getting-started/changelog.html')
                        span.menu-icon
                            span.svg-icon.svg-icon-3
                                svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M16.95 18.9688C16.75 18.9688 16.55 18.8688 16.35 18.7688C15.85 18.4688 15.75 17.8688 16.05 17.3688L19.65 11.9688L16.05 6.56876C15.75 6.06876 15.85 5.46873 16.35 5.16873C16.85 4.86873 17.45 4.96878 17.75 5.46878L21.75 11.4688C21.95 11.7688 21.95 12.2688 21.75 12.5688L17.75 18.5688C17.55 18.7688 17.25 18.9688 16.95 18.9688ZM7.55001 18.7688C8.05001 18.4688 8.15 17.8688 7.85 17.3688L4.25001 11.9688L7.85 6.56876C8.15 6.06876 8.05001 5.46873 7.55001 5.16873C7.05001 4.86873 6.45 4.96878 6.15 5.46878L2.15 11.4688C1.95 11.7688 1.95 12.2688 2.15 12.5688L6.15 18.5688C6.35 18.8688 6.65 18.9688 6.95 18.9688C7.15 18.9688 7.35001 18.8688 7.55001 18.7688Z' fill='currentColor')
                                    path(opacity='0.3' d='M10.45 18.9687C10.35 18.9687 10.25 18.9687 10.25 18.9687C9.75 18.8687 9.35 18.2688 9.55 17.7688L12.55 5.76878C12.65 5.26878 13.25 4.8687 13.75 5.0687C14.25 5.1687 14.65 5.76878 14.45 6.26878L11.45 18.2688C11.35 18.6688 10.85 18.9687 10.45 18.9687Z' fill='currentColor')
                        span.menu-title Changelog v8.1.0
