{% extends "../../layouts/master.njk" %}

{% block csslib %}
	<link href="/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block jslib %}
	{# //- // begin::Vendors Javascript(used by this page) #}
	<script src='/cms-static/admin/assets/plugins/custom/datatables/datatables.bundle.js'></script>
	{# //- // end::Vendors Javascript #}

	{# //- custom functions  #}
	<script src='/cms-static/common/js/custom-functions.js'></script>
	<script src='/cms-static/common/js/form-data-json.min.js'></script>
	<script src='/cms-static/common/js/es-form.js'></script>
{% endblock %}

{% block content %}
	<div class="d-flex flex-column flex-column-fluid">
		<div class="app-toolbar py-3 py-lg-6" id="beave_app_toolbar">
			<div class="app-container container-xxl d-flex flex-stack" id="beave_app_toolbar_container">
				<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
					<h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">App Config</h1>
				</div>
			</div>
		</div>
		<div class="app-content flex-column-fluid" id="beave_app_content">
			<div class="app-container container-xxl" id="beave_app_content_container">
				<div class="card">
					<form class="form es-form" id="beave_account_profile_details_form" action="/admin/config/app-settings/save" data-disable-reset="true" method="post" autocomplete="off">
						<div class="card-header border-0 pt-6 justify-content-end">
							<div class="card-title">
								<div class="d-flex align-items-right">
									<button class="btn btn-sm fw-bold btn-dark form-submit-btn" type="submit" href="/admin/config/language/add">
										<span class="preloader d-none">Updating</span>
										<span class="label">Save Config</span></button>
								</div>
							</div>
						</div>
						<div class="card-body pt-0">

							<ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
								<li class="nav-item">
									<a class="nav-link active" data-bs-toggle="tab" href="#beave_tab_pane_general">General</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-bs-toggle="tab" href="#beave_tab_pane_media">Media</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-bs-toggle="tab" href="#beave_tab_pane_email">Email</a>
								</li>
								{# {% for key, config_item in schema_fields.obj %}
									{% if configs %}
										{% set fieldType = configs
											.schema
											.path(key)
											.instance if configs
											.schema
											.path(key)else 
												'Mixed' %}
										{% if fieldType == 'Mixed' %}
											<li class="nav-item">
												<a class="nav-link {{ 'active' if key=='general' }}" data-bs-toggle="tab" href="#beave_tab_pane_{{ key }}">{{ key.toUpperCase() }}</a>
											</li>
										{% endif %}
									{% endif %}
								{% endfor %} #}
							</ul>
							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade  show active" id="beave_tab_pane_general" role="tabpanel">
									<table id="beave_subscriptions_table" class="table align-middle table-row-dashed fs-6 gy-5">
										<thead>
											<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
												<th class="min-w-125px">Key</th>
												<th class="min-w-125px">Value</th>
											</tr>
										</thead>
										<tbody class="text-gray-600 fw-semibold">
											<tr>
												<td>
													<a class="text-gray-800 text-hover-primary mb-1">Client Name</a>
												</td>
												<td>
													<input type="text" class="form-control form-control-lg form-control-solid" name="client_name" placeholder="" value="{{configs.general.client_name}}">
													<div class="fv-plugins-message-container invalid-feedback" id="field-error-client_name"></div>
												</td>
											</tr>
											<tr>
												<td>
													<a class="text-gray-800 text-hover-primary mb-1">Front-End URL</a>
												</td>
												<td>
													<input type="text" class="form-control form-control-lg form-control-solid" name="frontend_url" placeholder="" value="{{configs.general.frontend_url}}">
													<div class="fv-plugins-message-container invalid-feedback" id="field-error-frontend_url"></div>
												</td>
											</tr>
											<tr>
												<td>
													<a class="text-gray-800 text-hover-primary mb-1">User Email Verification</a>
												</td>
												<td>
													<div class="form-check form-switch form-check-custom form-check-success form-check-solid">
														<input id="beave_flexSwitchCustomDefault_1_1" type="checkbox" class="form-check-input" name="user_email_verification" value="true" {{'checked' if configs.general.user_email_verification}}>
													</div>
													<div class="fv-plugins-message-container invalid-feedback" id="field-error-user_email_verification"></div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tab-pane fade" id="beave_tab_pane_media" role="tabpanel">
									<table id="beave_subscriptions_table" class="table align-middle table-row-dashed fs-6 gy-5">
										<thead>
											<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
												<th class="min-w-125px">Key</th>
												<th class="min-w-125px">Value</th>
											</tr>
										</thead>
										<h2 class="mt-5">Local</h2>
										<tbody class="text-gray-600 fw-semibold">
											<tr>
												<td>
													<a class="text-gray-800 text-hover-primary mb-1">Upload Local</a>
												</td>
												<td>

													<div class="form-check form-check-custom form-check-solid me-10">
														<input class="form-check-input h-30px w-30px" name="media_drive" type="radio" value="local" onChange="mediaConfigFormSwitching(this)" {% if configs.media_drive.default_drive == 'local' %} checked {% endif %} id="flexRadio30"/>
														<label class="form-check-label" for="flexRadio30">
															Local
														</label>
													</div>
													<div class="form-check form-check-custom form-check-solid me-10">
														<input class="form-check-input h-30px w-30px" name="media_drive" {% if configs.media_drive.default_drive == 'imagekit' %} checked {% endif %} type="radio" value="imagekit" onChange="mediaConfigFormSwitching(this)" id="flexRadio30"/>
														<label class="form-check-label" for="flexRadio30">
															ImageKit
														</label>
													</div>
													<div class="form-check form-check-custom form-check-solid me-10">
														<input class="form-check-input h-30px w-30px" name="media_drive" {% if configs.media_drive.default_drive == 'cloudinary' %} checked {% endif %} type="radio" value="cloudinary" onChange="mediaConfigFormSwitching(this)" id="flexRadio30"/>
														<label class="form-check-label" for="flexRadio30">
															Cloudinary
														</label>
													</div>

													{# <div class="form-check form-switch form-check-custom form-check-success form-check-solid">
														<input id="beave_flexSwitchCustomDefault_1_1" type="checkbox" class="form-check-input" name="local_upload" value="true" {{'checked' if configs.media_drive.local_upload}}>
														<i>This will upload medias to the same server and uploading to CDN will not work</i>
													</div> #}
													<div class="fv-plugins-message-container invalid-feedback" id="field-error-local_upload"></div>
												</td>
											</tr>
										</tbody>
									</table>
									<div id="imagekit_config_form" class="media-config-form {% if configs.media_drive.default_drive != 'imagekit' %} d-none {% endif %}">
										<h2 class="mt-5">ImageKit Config</h2>
										<table id="beave_subscriptions_table" class="table align-middle table-row-dashed fs-6 gy-5">
											<thead>
												<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
													<th class="min-w-125px">Key</th>
													<th class="min-w-125px">Value</th>
												</tr>
											</thead>
											<tbody class="text-gray-600 fw-semibold">
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">Public Key</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="ik_public_key" placeholder="" value="{{configs.media_drive.imagekit.public_key}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-ik_public_key"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">Private Key</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="ik_private_key" placeholder="" value="{{configs.media_drive.imagekit.private_key}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-ik_private_key"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">URL</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="ik_url" placeholder="" value="{{configs.media_drive.imagekit.url}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-ik_url"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">Folder</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="ik_folder" placeholder="" value="{{configs.media_drive.imagekit.folder}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-ik_folder"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div id="cloudinary_config_form" class="media-config-form {% if configs.media_drive.default_drive != 'cloudinary' %} d-none {% endif %}">
										<h2 class="mt-5">Cloudinary Config</h2>
										<table id="beave_subscriptions_table" class="table align-middle table-row-dashed fs-6 gy-5">
											<thead>
												<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
													<th class="min-w-125px">Key</th>
													<th class="min-w-125px">Value</th>
												</tr>
											</thead>
											<tbody class="text-gray-600 fw-semibold">
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">API Key</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="cdry_api_key" placeholder="" value="{{configs.media_drive.cloudinary.api_key}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-cdry_api_key"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">API Secret</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="cdry_api_secret" placeholder="" value="{{configs.media_drive.cloudinary.api_secret}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-cdry_api_secret"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">CLoud Name</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="cdry_cloud_name" placeholder="" value="{{configs.media_drive.cloudinary.cloud_name}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-cdry_cloud_name"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">Folder</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="cdry_folder" placeholder="" value="{{configs.media_drive.cloudinary.folder}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-cdry_folder"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="tab-pane fade" id="beave_tab_pane_email" role="tabpanel">
									<table id="beave_subscriptions_table" class="table align-middle table-row-dashed fs-6 gy-5">
										<thead>
											<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
												<th class="min-w-125px">Key</th>
												<th class="min-w-125px">Value</th>
											</tr>
										</thead>
										<h2 class="mt-5">Local</h2>
										<tbody class="text-gray-600 fw-semibold">
											<tr>
												<td>
													<a class="text-gray-800 text-hover-primary mb-1">Email Channel</a>
												</td>
												<td>

													<div class="form-check form-check-custom form-check-solid me-10">
														<input class="form-check-input h-30px w-30px" name="email_channel" type="radio" value="none" onChange="emailConfigFormSwitching(this)" {% if configs.email_settings.default_channel == 'none' %} checked {% endif %} id="flexRadio30"/>
														<label class="form-check-label" for="flexRadio30">
															None
														</label>
													</div>
													<div class="form-check form-check-custom form-check-solid me-10">
														<input class="form-check-input h-30px w-30px" name="email_channel" type="radio" value="local" onChange="emailConfigFormSwitching(this)" {% if configs.email_settings.default_channel == 'local' %} checked {% endif %} id="flexRadio30"/>
														<label class="form-check-label" for="flexRadio30">
															Local
														</label>
													</div>
													<div class="form-check form-check-custom form-check-solid me-10">
														<input class="form-check-input h-30px w-30px" name="email_channel" {% if configs.email_settings.default_channel == 'mailgun' %} checked {% endif %} type="radio" value="mailgun" onChange="emailConfigFormSwitching(this)" id="flexRadio30"/>
														<label class="form-check-label" for="flexRadio30">
															MailGun
														</label>
													</div>
													<div class="form-check form-check-custom form-check-solid me-10">
														<input class="form-check-input h-30px w-30px" name="email_channel" {% if configs.email_settings.default_channel == 'sendgrid' %} checked {% endif %} type="radio" value="sendgrid" onChange="emailConfigFormSwitching(this)" id="flexRadio30"/>
														<label class="form-check-label" for="flexRadio30">
															SendGrid
														</label>
													</div>

													{# <div class="form-check form-switch form-check-custom form-check-success form-check-solid">
														<input id="beave_flexSwitchCustomDefault_1_1" type="checkbox" class="form-check-input" name="local_upload" value="true" {{'checked' if configs.media_drive.local_upload}}>
														<i>This will upload medias to the same server and uploading to CDN will not work</i>
													</div> #}
													<div class="fv-plugins-message-container invalid-feedback" id="field-error-email_channel"></div>
												</td>
											</tr>
										</tbody>
									</table>
									<div id="localmail_config_form" class="email-config-form {% if configs.email_settings.default_channel != 'local' %} d-none {% endif %}">
										<h2 class="mt-5">Local Email Config</h2>
										<table id="beave_subscriptions_table" class="table align-middle table-row-dashed fs-6 gy-5">
											<thead>
												<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
													<th class="min-w-125px">Key</th>
													<th class="min-w-125px">Value</th>
												</tr>
											</thead>
											<tbody class="text-gray-600 fw-semibold">
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">From</a>
													</td>
													<td>
														<input type="email" class="form-control form-control-lg form-control-solid" name="local_from" placeholder="" value="{{configs.email_settings.local.from}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-local_from"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">Host</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="local_host" placeholder="" value="{{configs.email_settings.local.host}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-local_host"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">Port</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="local_port" placeholder="" value="{{configs.email_settings.local.port}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-local_port"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">Secure</a>
													</td>
													<td>
														<select class="form-control form-control-lg form-control-solid" name="local_secure">
															<option value="true" {% if configs.email_settings.local.secure %}{% endif %}>True</option>
															<option value="false" {% if not configs.email_settings.local.secure %}{% endif %}>False</option>
														</select>
														{# <input type="text" class="form-control form-control-lg form-control-solid" name="local_secure" placeholder="" value="{{configs.email_settings.local.secure}}"> #}
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-local_secure"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">Auth User</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="local_auth_user" placeholder="" value="{{configs.email_settings.local.auth_user}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-local_auth_user"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">Auth Password</a>
													</td>
													<td>
														<input type="password" class="form-control form-control-lg form-control-solid" name="local_auth_password" placeholder="" value="{{configs.email_settings.local.auth_password}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-local_auth_password"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div id="mailgun_config_form" class="email-config-form {% if configs.email_settings.default_channel != 'mailgun' %} d-none {% endif %}">
										<h2 class="mt-5">Mailgun Config</h2>
										<table id="beave_subscriptions_table" class="table align-middle table-row-dashed fs-6 gy-5">
											<thead>
												<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
													<th class="min-w-125px">Key</th>
													<th class="min-w-125px">Value</th>
												</tr>
											</thead>
											<tbody class="text-gray-600 fw-semibold">
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">From</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="mg_from" placeholder="" value="{{configs.email_settings.mailgun.from}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-mg_from"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">Domain</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="mg_domain" placeholder="" value="{{configs.email_settings.mailgun.domain}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-mg_domain"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">API Key</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="mg_api_key" placeholder="" value="{{configs.email_settings.mailgun.api_key}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-mg_api_key"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div id="sendgrid_config_form" class="email-config-form {% if configs.email_settings.default_channel != 'sendgrid' %} d-none {% endif %}">
										<h2 class="mt-5">SendGrid Config</h2>
										<table id="beave_subscriptions_table" class="table align-middle table-row-dashed fs-6 gy-5">
											<thead>
												<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
													<th class="min-w-125px">Key</th>
													<th class="min-w-125px">Value</th>
												</tr>
											</thead>
											<tbody class="text-gray-600 fw-semibold">
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">From</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="sg_from" placeholder="" value="{{configs.email_settings.sendgrid.from}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-sg_from"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">Domain</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="sg_domain" placeholder="" value="{{configs.email_settings.sendgrid.domain}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-sg_domain"></div>
													</td>
												</tr>
												<tr>
													<td>
														<a class="text-gray-800 text-hover-primary mb-1">API Key</a>
													</td>
													<td>
														<input type="text" class="form-control form-control-lg form-control-solid" name="sg_api_key" placeholder="" value="{{configs.email_settings.sendgrid.api_key}}">
														<div class="fv-plugins-message-container invalid-feedback" id="field-error-sg_api_key"></div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								{# {% for key, config_item in schema_fields.obj %}
									<div class="tab-pane fade  {{ 'show active' if key=='general' }}" id="beave_tab_pane_{{ key }}" role="tabpanel">
										<table id="beave_subscriptions_table" class="table align-middle table-row-dashed fs-6 gy-5">
											<thead>
												<tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
													<th class="min-w-125px">Key</th>
													<th class="min-w-125px">Value</th>
												</tr>
											</thead>
											<tbody class="text-gray-600 fw-semibold">
												{% for config_key, config_val in config_item %}
													{% if configs %}
														{% set partialType = 'mainList' %}
														{% set fieldType = configs
															.schema
															.path(key + "." + config_key)
															.instance if configs
															.schema
															.path(key + "." + config_key)else 
																'Object' %}
														{% include "./_app-config-row.njk" %}
													{% endif %}
												{% endfor %}
											</tbody>
										</table>
									</div>
								{% endfor %} #}
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}